﻿@page "/personal"
@using BibionERP.Application.DTOs.ViewDetail;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@inject IPersonalService personalService;
@inject IDialogService DialogService;
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTEINER")]


<MudTable Items="@Personal" Dense="false" Hover="true" Loading="@loading" RowsPerPage=50 Striped="true" Filter="new Func<ViewDetailPersonalDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" class="m-3">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Lista de solicitudes de personal</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col tyle="width:100px;" />
        <col />
        <col style="width:100px;" />
        <col style="width:150px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Apellido</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Experiencia</MudTh>
        <MudTh>Localidad</MudTh>
        <MudTh>Telefono</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Apellido">@context.Apellido</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Experiencia">@context.Experiencia</MudTd>
        <MudTd DataLabel="Localidad">@context.Localidad</MudTd>
        <MudTd DataLabel="Email">@context.Telefono</MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Ver detalles" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> OpenDialog(@context.Id))" />
            <MudLink Href=@context.Pathfile Target="_blank" Class="mx-2"><MudIcon Icon="@Icons.Material.Filled.Download" Title="Descargar CV" Size="Size.Small"/></MudLink>
             <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; } 
    MudMessageBox? mboxMessage { get; set; } 

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString1 = "";
    private ViewDetailPersonalDto selectedItem1 = null;
    private HashSet<ViewDetailPersonalDto> selectedItems = new HashSet<ViewDetailPersonalDto>();

    private IEnumerable<ViewDetailPersonalDto> Personal = new List<ViewDetailPersonalDto>();

    protected override async Task OnInitializedAsync()
    {

        Personal = await personalService.GetAll();

        if(!Personal.Any())
        {
            Snackbar.Add("Error al contactar al servicio, consulte al administrador.", Severity.Error);
        }

        loading = false;
    }

    private bool FilterFunc1(ViewDetailPersonalDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ViewDetailPersonalDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Nombre.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Apellido.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Localidad.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Experiencia.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Telefono.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
       if (element.Masinfo.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        //if ($"{element.Document} {element.Id}".Contains(searchString))
        //    return true;
        return false;
    }

    private async void OpenDialog(int id)
    {
        var personalDto = Personal.FirstOrDefault(p => p.Id.Equals(id));

        var parameters = new DialogParameters();

        parameters.Add("PersonalDto", personalDto);


        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };

        DialogService.Show<PersonalDialog>($"{personalDto.Nombre} {personalDto.Apellido}",parameters, closeOnEscapeKey);
    }


    private async void DeleteItem(int id)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar los datos del candidato";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await personalService.Delete(id);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente los datos del candidato";
                    await mboxMessage.Show();

                    Personal = Personal.Where(p => p.Id != id);
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar la nota";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }


}

