﻿@using BibionERP.Application.DTOs.ViewDetail;

<MudDialog>
    <DialogContent>
        <MudPaper Class="pa-16 ma-2" Elevation="1">
            <MudText Class="my-1"><b>Nombre:</b> @PersonalDto.Nombre</MudText>
            <MudText Class="my-1"><b>Apellido:</b> @PersonalDto.Apellido</MudText>
            <MudText Class="my-1"><b>Correo:</b> @PersonalDto.Email</MudText>
            <MudText Class="my-1"><b>Telefono:</b> @PersonalDto.Telefono</MudText>
            <MudText Class="my-1"><b>Localidad:</b> @PersonalDto.Localidad</MudText>
            <MudText Class="my-1"><b>Direccion:</b> @PersonalDto.Direccion</MudText>
            <MudText Class="my-1"><b>Experiencia:</b> @PersonalDto.Experiencia</MudText>
            <MudText Class="my-1"><b>Informacion:</b> @PersonalDto.Masinfo</MudText>
            <MudText Class="my-1"><b>Descargar CV:</b>
                <MudLink Href=@PersonalDto.Pathfile Target="_blank"><MudIcon Icon="@Icons.Material.Filled.Download" Title="Descargar CV" /></MudLink>
                </MudText>
            
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {


    [CascadingParameter] 
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public ViewDetailPersonalDto PersonalDto { get; set; }

    void Submit() => MudDialog.Close();

}