﻿@page "/holidaymanagment/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.Application.Services;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components;
@inject IHolidayEmployeeService holidayEmployeeService;
@inject IEmployeeService employeeService;
@inject IUserService userService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Gestión de Licencia</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>

                            <MudTextField Label="Nombre" Class="mt-3"
                                          @bind-Value="model.HolidayName" For="@(() => model.HolidayName)" />

                            <MudAutocomplete T="string" Label="Empleado" Class="mt-3" MaxItems="20"
                                             @bind-Value="employee" SearchFunc="@SearchEmployee" />
                            
                            <MudSelect @bind-Value="model.HolidayTypeId" Label="Tipo de licencia" Placeholder="Seleccionar tipo de licencia">
                                <MudSelectItem Value="0">Anual</MudSelectItem>
                                <MudSelectItem Value="1">Estudiante</MudSelectItem>
                                <MudSelectItem Value="2">Salud</MudSelectItem>
                            </MudSelect>
                            <MudDatePicker Label="Fecha de Vencimiento" Editable="true"
                                           @bind-Date="expirationDate" Placeholder="Seleccionar Fecha" />
                            
                            <MudNumericField Label="Cantidad de dias" Class="mt-3" Format="N0"
                                             @bind-Value="model.HolidayDays" For="@(() => model.HolidayDays)" />

                            <MudCheckBox @bind-Checked="@RequiredDocumentation" Color="Color.Success" UnCheckedColor="Color.Default">
                                Requiere Documentación
                            </MudCheckBox>
                            
                        </MudCardContent>

                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/holidaymanagment" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

@code {

    CreateHolidayEmployeeDto model = new CreateHolidayEmployeeDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    public string employee = string.Empty, approver = string.Empty;

    public List<string> employeeList = new(), approverList = new();

    bool loading = false;
    bool RequiredDocumentation = false;

    DateTime? expirationDate = DateTime.Today.AddYears(1);
      


    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                loading = true;


                model.HolidayExpiration = expirationDate;
                

                model.EmployeeId = int.Parse(employee.Split('|')[0].Trim());
                
     

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                if (expirationDate < DateTime.Now)
                    throw new Exception("La fecha vencimiento de la licencia no puede ser menor al dia de hoy");


                var leaveCreate = await holidayEmployeeService.Insert(model, userSessionStorageResult.Value.FullName);

                if (leaveCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo la incidencia con id {leaveCreate.Id}";
                    model = new CreateHolidayEmployeeDto();

                    employee = string.Empty;
                    approver = string.Empty;
                    expirationDate = DateTime.Today.AddYears(1);
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear la incidencia.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la incidencia. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var employeesDto = await employeeService.GetAll();

        var usersDto = await userService.GetAll();

        foreach (var e in employeesDto)
        {
            employeeList.Add($"{e.Id} | {e.FullName}");
        }

        foreach (var u in usersDto)
        {
            approverList.Add($"{u.Id} | {u.FullName}");
        }

    }

    private async Task<IEnumerable<string>> SearchApprover(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return approverList;
        return approverList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return employeeList;
        return employeeList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}
