﻿@page "/"
@using BibionERP.Application.Helpers;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Components
@inject IPersonalService personalService;


<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudPaper Elevation="0" Class="d-flex align-stretch">
        <MudItem xs="12" md="6" Class="d-flex mx-auto align-center">
            <MudImage Src="img/logo_bibion.png" Height="150" Alt="Logo completo" Elevation="25" Class="rounded-lg" />
        </MudItem>
    </MudPaper>
</MudContainer>

@code{

    //private int Total { get; set; }

    //private int Mes { get; set; }

    //private int Dia { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    var personalData = await personalService.GetPersonalData();

    //    Total = personalData.cantidadTotal;

    //    Mes = personalData.cantidadMes;

    //    Dia = personalData.cantidadDia;
    //}
}