﻿@page "/users/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IUserService _userService;
@inject IRolService _rolService;
@attribute [Authorize(Roles = "ADMINISTRATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nuevo Usuario</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Nombre de usuario" 
                                      @bind-Value="model.UserName" For="@(() => model.UserName)" />
                        <MudTextField Label="Nombre" Class="mt-3"
                                      @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                        <MudTextField Label="Apellido" Class="mt-3"
                                      @bind-Value="model.LastName" For="@(() => model.LastName)" />
                        <MudTextField Label="Documento" Class="mt-3"
                                      @bind-Value="model.Document" For="@(() => model.Document)" />
                        <MudTextField Label="Correo" Class="mt-3"
                                      @bind-Value="model.Email" For="@(() => model.Email)" />
                        <MudTextField Label="Password" HelperText="Escribe un password fuerte" Class="mt-3"
                                      @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                        <MudTextField Label="Confirmar Password" HelperText="Confirma el password" Class="mt-3"
                                      @bind-Value="model.Password2" For="@(() => model.Password2)" InputType="InputType.Password" />
                        <MudAutocomplete T="string" Label="Rol" @bind-Value="rolUser"
                                             SearchFunc="@SearchRol" />
                        <MudTextField Label="Telefono" Class="mt-3"
                                      @bind-Value="model.PhoneNumber" For="@(() => model.PhoneNumber)" />
                        <MudTextField Label="Dirección" Class="mt-3"
                                      @bind-Value="model.Address" For="@(() => model.Address)" />
                        <MudTextField Label="Location" Class="mt-3"
                                      @bind-Value="model.Location" For="@(() => model.Location)" /> 
                        </MudCardContent>
                    <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/users" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
    </MudPaper>
</MudPaper>
@code {

    CreateUserDto model = new CreateUserDto();

    string message = string.Empty;
    string rolUser = string.Empty;
    bool show = false;
    Severity accion;
    private List<string> rolsList = new();
    bool loading = false;
   

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            
            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if(string.IsNullOrEmpty(rolUser))
                {
                    throw new Exception("Error al crear al usuario, debe seleccionar un rol.");
                };

                
                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                model.RolId = int.Parse(rolUser.Split('|')[0].Trim());

                var userCreate = await _userService.Insert(model,userSessionStorageResult.Value.FullName);

                if (userCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo el usuario correctamente con id {userCreate.Id}";
                    model = new CreateUserDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear el usuario.";
                }
            }
        }
        catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear el usuario. {ex.Message}";
        }
        finally
        { 
            loading = false;
            rolUser = string.Empty;
            StateHasChanged(); 
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var rolsDto = await _rolService.GetAll();

        foreach (var r in rolsDto)
        {
            rolsList.Add($"{r.Id} | {r.Name}");
        }
    }
    private async Task<IEnumerable<string>> SearchRol(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return rolsList;
        return rolsList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}
