﻿@page "/users/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IUserService _userService;
@inject IRolService _rolService;
@attribute [Authorize(Roles = "ADMINISTRATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar el Usuario</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle del Usuario</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
        @if (loading == false)
        {
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                            <MudPaper Elevation="0">
                                <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                    Habilitar Edición
                                </MudCheckBox>
                            </MudPaper>
                    <MudCardContent>
                        <MudTextField Label="Nombre de usuario" ReadOnly="!Edit"
                                      @bind-Value="model.UserName" For="@(() => model.UserName)" />
                        <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                        <MudTextField Label="Apellido" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.LastName" For="@(() => model.LastName)" />
                        <MudTextField Label="Documento" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.Document" For="@(() => model.Document)" />
                        <MudTextField Label="Correo" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.Email" For="@(() => model.Email)" />
                        <MudAutocomplete T="string" Label="Rol" @bind-Value="rol"
                                             ReadOnly="!Edit" SearchFunc="@SearchCustomer" />
                        <MudTextField Label="Telefono" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.PhoneNumber" For="@(() => model.PhoneNumber)" />
                        <MudTextField Label="Dirección" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.Address" For="@(() => model.Address)" />
                                <MudTextField Label="Location" Class="mt-3" ReadOnly="!Edit"
                                      @bind-Value="model.Location" For="@(() => model.Location)" /> 
                        </MudCardContent>
                    <MudCardActions>
                            @if (updating.Equals(true))
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/users" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer />
                                @if (Edit)
                                {
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                }
                            }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
            </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>

@code {

    [Parameter]
    public int Id {get;set;}

    private bool Edit { get; set; } = false;

    CreateUserDto model = new CreateUserDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    private string rol = string.Empty;
    private bool updating = false;
    private bool loading = true;

    public List<string> rolList = new();

    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                model.RolId = int.Parse(rol.Split('|')[0].Trim());

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var userEdited = await _userService.Update(model, Id, userSessionStorageResult.Value.FullName);

                if (userEdited.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito el usuario correctamente con id {userEdited.Id}";
                    model = new CreateUserDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar el usuario.";
                }
            }
        }
        catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar el usuario. {ex.Message}";
        }
        finally
        { 
            updating = false;
            StateHasChanged(); 
        }
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        StateHasChanged(); 
        var userDto = await _userService.GetById(Id);

        var rolsDto = await _rolService.GetAll();

        foreach (var r in rolsDto)
        {
            rolList.Add($"{r.Id} | {r.NormalizedName}");
        }


        model.UserName = userDto.UserName;
        model.FirstName = userDto.FirstName;
        model.LastName = userDto.LastName;
        model.Address = userDto.Address;
        model.Document = userDto.Document;
        model.Email = userDto.Email;
        model.PhoneNumber = userDto.PhoneNumber;
        model.Location = userDto.Location;
        model.Password = "*****";
        model.Password2 = "*****";

        rol = (await SearchCustomer(userDto.RolName.ToUpper())).FirstOrDefault();

        loading = false;
        StateHasChanged();
    }

    private async Task<IEnumerable<string>> SearchCustomer(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return rolList;
        return rolList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}
