﻿@page "/users"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers;
@using BibionERP.WebUI.Helpers.Interface;
@using BibionERP.WebUI.Reporter.Helper;
@inject NavigationManager UriHelper;
@inject IUserService userService;

@attribute [Authorize(Roles = "ADMINISTRATOR")]


<MudTable Items="@Users" Dense="false" Hover="true" Loading="@loading" Striped="true" Filter="new Func<ViewUserDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" class="m-3 pt-4">
    <ToolBarContent>
        <MudFab Href="/users/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de usuarios</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col style="width:150px;" />
        <col style="width:150px;" />
        <col style="width:50px;" />
        <col style="width:150px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>UserName</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Document</MudTh>
        <MudTh>Rol</MudTh>
        <MudTh>Ult. Inicio</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="UserName">@context.UserName</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Document">@context.Document</MudTd>
        <MudTd DataLabel="Rol">@context.RolName</MudTd>
        <MudTd DataLabel="Ult. Inicio">@context.LastLogin</MudTd>
        <MudTd DataLabel="Status">
            @if(@context.IsActive)
            {
                <MudFab Title="Habilitado" Color="Color.Success" StartIcon="@Icons.Material.Filled.Info" Size="Size.Small" OnClick="@(()=>EnbleDisableUser(@context.Id))" />
            }
            else
            {
                <MudFab Title="No habilitado" Color="Color.Warning" StartIcon="@Icons.Material.Outlined.Info" Size="Size.Small" OnClick="@(()=>EnbleDisableUser(@context.Id))" />
            }
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Detalles" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/users/detail/{@context.Id}"))" />
            <MudIconButton Title="Resetear password" Icon="@Icons.Material.Filled.Key" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/users/passwordreset/{@context.Id}"))" />
            <MudIconButton Title="Eliminar el usuario" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=> DeleteUser(context.Id,context.UserName))" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


<div class="d-flex flex-wrap mt-4 ml-3 ">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error" OnClick="@(()=>GenerarPDF())" Class="ml-2 my-auto">Descargar</MudButton>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>


<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>


@code {

    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString1 = "";
    private ViewUserDto selectedItem1 = null;
    private HashSet<ViewUserDto> selectedItems = new HashSet<ViewUserDto>();

    private IEnumerable<ViewUserDto> Users = new List<ViewUserDto>();

    protected override async Task OnInitializedAsync()
    {
        Users = await userService.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewUserDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ViewUserDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.UserName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Document} {element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void GenerarPDF()
    {
        try
        {
            List<ViewUserDto> usersToPdf;

            if (String.IsNullOrWhiteSpace(searchString1))
                usersToPdf = Users.ToList();                                // Si busqueda esta vacia cargo la tabla completa, si no filtro de la lista original
            else
                usersToPdf = Users.Where(x => x.UserName.Contains(searchString1, StringComparison.OrdinalIgnoreCase) ||
                                              x.Email.Contains(searchString1, StringComparison.OrdinalIgnoreCase) ||
                                              $"{x.Id} {x.Document}".Contains(searchString1)).ToList();


            HelperPDF.GenerateUsersPDF(usersToPdf);


        }catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }

    }

    private async void EnbleDisableUser(int id)
    {
        try
        {

            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");


            loading = true;
            StateHasChanged();
            var response = await userService.EnableDisableUser(id, userSessionStorageResult.Value.FullName);

            if(response)
            {
                Users = await userService.GetAll();
                StateHasChanged();
            }
           
            
        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }

    }


     private async void DeleteUser(int id, string userName)
     {

        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar al usuario {userName}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await userService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente al usuario";
                    await mboxMessage.Show();

                    Users = await userService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar al usuario";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }

     }

}

