﻿@page "/users/passwordreset/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IUserService _userService;
@attribute [Authorize(Roles = "ADMINISTRATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Resetear Password</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
        @if (loading.Equals(false))
        {
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                            
                    <MudCardContent>
                                <MudTextField Label="Nombre de usuario" ReadOnly="true"
                                      @bind-Value="model.UserName" For="@(() => model.UserName)" />
                        <MudTextField Label="Nombre" Class="mt-3" ReadOnly="true"
                                      @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                        <MudTextField Label="Apellido" Class="mt-3" ReadOnly="true"
                                      @bind-Value="model.LastName" For="@(() => model.LastName)" />
                        <MudTextField Label="Correo" Class="mt-3" ReadOnly="true"
                                      @bind-Value="model.Email" For="@(() => model.Email)" />
                        <MudTextField Label="Password" HelperText="Escribe un password fuerte" Class="mt-3"
                                      @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                        <MudTextField Label="Confirmar Password" HelperText="Confirma el password" Class="mt-3"
                                      @bind-Value="model.Password2" For="@(() => model.Password2)" InputType="InputType.Password" />
                      
                        </MudCardContent>
                    <MudCardActions>
                            @if (updating.Equals(true))
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/users" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                            }
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
            </EditForm>
        }
        else
        {
            
        }
    </MudPaper>
</MudPaper>
@code {

    [Parameter]
    public int Id {get;set;}


    CreateUserDto model = new CreateUserDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool updating = false;
    bool loading = true;

    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var userEdit = await _userService.ResetPassword(model,Id,userSessionStorageResult.Value.FullName);

                if (userEdit.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se reseteo el usuario correctamente con id {userEdit.Id}";
                    model = new CreateUserDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo resetear el usuario.";
                }
            }
        }
        catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear el usuario. {ex.Message}";
        }
        finally
        { 
            loading = false;
            StateHasChanged(); 
        }
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var userDto = await _userService.GetById(Id);

        model.UserName = userDto.UserName;
        model.FirstName = userDto.FirstName;
        model.LastName = userDto.LastName;
        model.Email = userDto.Email;
        model.Password = "*********";
        model.Password2 = "*********";

        loading = false;
    }


}
