﻿@page "/holiday/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components;
@inject IHolidayService holidayService;
@inject IEmployeeService employeeService;
@inject IUserService userService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nueva Licencia</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudAutocomplete T="string" Label="Empleado" Class="mt-3" MaxItems="20"
                                             @bind-Value="employee" SearchFunc="@SearchEmployee" />
                            
                            <MudSelect @bind-Value="model.HolidayTypeId" Label="Tipo de licencia" Placeholder="Seleccionar tipo de licencia">
                                <MudSelectItem Value="0">Anual</MudSelectItem>
                                <MudSelectItem Value="1">Estudiante</MudSelectItem>
                                <MudSelectItem Value="2">Salud</MudSelectItem>
                            </MudSelect>
                            <MudDatePicker Label="Fecha de inicio" Editable="true"
                                           @bind-Date="startDate" Placeholder="Seleccionar Fecha" />
                            <MudDatePicker Label="Fecha de fin" Editable="true"
                                           @bind-Date="endDate" Placeholder="Seleccionar Fecha" />
                            
                            <MudAutocomplete T="string" Label="Aprobador" Class="mt-3" MaxItems="20"
                                             @bind-Value="approver" SearchFunc="@SearchApprover" />

                            <MudTextField Label="Detalles" Class="mt-3" Lines="3"
                                          @bind-Value="model.Details" For="@(() => model.Details)" />
                        </MudCardContent>

                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/holiday" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

@code {

    CreateHolidayDto model = new CreateHolidayDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    public string employee = string.Empty, approver = string.Empty;

    public List<string> employeeList = new(), approverList = new();

    bool loading = false;

    DateTime? startDate = DateTime.Today;

    DateTime? endDate = DateTime.Today;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                loading = true;


                model.StartLeave = startDate.Value;
                model.EndLeave = endDate.Value;

                model.EmployeeId = int.Parse(employee.Split('|')[0].Trim());
                model.ApproverId = int.Parse(approver.Split('|')[0].Trim());
     

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                if(endDate < startDate)
                    throw new Exception("La fecha fin de licencia no puede ser menor a inicio");


                var leaveCreate = await holidayService.Insert(model, userSessionStorageResult.Value.FullName);

                if (leaveCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo la incidencia con id {leaveCreate.Id}";
                    model = new CreateHolidayDto();

                    employee = string.Empty;
                    approver = string.Empty;
                    startDate = DateTime.Today;
                    endDate = DateTime.Today;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear la incidencia.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la incidencia. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var employeesDto = await employeeService.GetAll();

        var usersDto = await userService.GetAll();

        foreach (var e in employeesDto)
        {
            employeeList.Add($"{e.Id} | {e.FullName}");
        }

        foreach (var u in usersDto)
        {
            approverList.Add($"{u.Id} | {u.FullName}");
        }

    }

    private async Task<IEnumerable<string>> SearchApprover(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return approverList;
        return approverList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return employeeList;
        return employeeList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
}
