﻿@page "/holiday/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IHolidayService leaveService;
@inject IEmployeeService employeeService;
@inject IUserService userService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar la Licencia</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle de la Licencia</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
         @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        <MudPaper Elevation="0">
                                            <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                                Habilitar Edición
                                            </MudCheckBox>
                                        </MudPaper>
                                    </Authorized>
                                </AuthorizeView>
                                <MudAutocomplete T="string" Label="Empleado" Class="mt-3" MaxItems="20"
                                @bind-Value="employee" SearchFunc="@SearchEmployee" />

                                <MudSelect @bind-Value="model.HolidayTypeId" Label="Tipo de licencia" Placeholder="Seleccionar tipo de licencia">
                                    <MudSelectItem Value="0">Anual</MudSelectItem>
                                    <MudSelectItem Value="1">Estudiante</MudSelectItem>
                                    <MudSelectItem Value="2">Salud</MudSelectItem>
                                </MudSelect>
                                <MudDatePicker Label="Fecha de inicio" Editable="true"
                                @bind-Date="startDate" Placeholder="Seleccionar Fecha" />
                                <MudDatePicker Label="Fecha de fin" Editable="true"
                                @bind-Date="endDate" Placeholder="Seleccionar Fecha" />

                                <MudAutocomplete T="string" Label="Aprobador" Class="mt-3" MaxItems="20"
                                @bind-Value="approver" SearchFunc="@SearchApprover" />

                                <MudTextField Label="Detalles" Class="mt-3" Lines="3"
                                @bind-Value="model.Details" For="@(() => model.Details)" />
                            </MudCardContent>

                            <MudCardActions>
                                @if (updating == true)
                                {
                                    <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                                }
                                else
                                {
                                    <MudButton Href="/leave" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                    <MudSpacer />
                                    @if (Edit)
                                    {
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                    }
                                }
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
        </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>

@code {

    [Parameter]
    public int Id { get; set; }

    CreateHolidayDto model = new CreateHolidayDto();

    public bool Edit { get; set; } = false;

    string message = string.Empty;
    bool show = false;
    Severity accion;

    public string employee = string.Empty, approver = string.Empty;

    public List<string> employeeList = new(), approverList = new();

    bool updating = false;
    bool loading = false;

    DateTime? startDate = DateTime.Today;

    DateTime? endDate = DateTime.Today;


    private async void OnValidSubmit(EditContext context)
    {
        //try
        //{
        //    if (context.Validate())
        //    {
        //        updating = true;


        //        model.ManufactureDate = DateOnly.FromDateTime(manufacturingDate.Value);
        //        model.ExpirationDate = DateOnly.FromDateTime(expirationDate.Value);

        //        model.CategoryId = int.Parse(category.Split('|')[0].Trim());
        //        model.WarehouseId = int.Parse(warehouse.Split('|')[0].Trim());
        //        model.SupplierId = int.Parse(supplier.Split('|')[0].Trim());

        //        var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

        //        if (userSessionStorageResult.Value is null)
        //            throw new Exception("Error en el usuario, contacte con el administrador.");

        //        var itemCreate = await _itemService.Insert(model,userSessionStorageResult.Value.FullName);

        //        if (itemCreate.Id > 0)
        //        {
        //            show = true;
        //            accion = Severity.Success;
        //            message = $"Se edito el articulo correctamente con id {itemCreate.Id}";
        //            model = new CreateItemDto();

        //            warehouse = string.Empty;
        //            supplier = string.Empty;
        //            category = string.Empty;
        //            manufacturingDate = DateTime.Today;
        //            expirationDate = DateTime.Today;
        //        }
        //        else
        //        {
        //            show = true;
        //            accion = Severity.Error;
        //            message = $"No se pudo editar el articulo.";
        //        }
        //    }
        //}
        //catch (Exception ex)
        //{
        //    show = true;
        //    accion = Severity.Error;
        //    message = $"No se pudo editar el articulo. {ex.Message}";
        //}
        //finally
        //{
        //    updating = false;
        //    StateHasChanged();
        //}
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {


            loading = true;

            var employeesDto = await employeeService.GetAll();

            var usersDto = await userService.GetAll();

            foreach (var e in employeesDto)
            {
                employeeList.Add($"{e.Id} | {e.FullName}");
            }

            foreach (var u in usersDto)
            {
                approverList.Add($"{u.Id} | {u.FullName}");
            }



            var leaveDto = await leaveService.GetById(Id);


            switch (leaveDto.HolidayType)
            {
                case "ANNUALLEAVE":
                    model.HolidayTypeId = 0;
                    break;

                case "STUDYLEAVE":
                    model.HolidayTypeId = 1;
                    break;

                case "HEALTHLEAVE":
                    model.HolidayTypeId = 2;
                    break;
                default:
                    break;
            }

            startDate = leaveDto.StartHoliday;
            endDate = leaveDto.EndHoliday;
            model.Details = leaveDto.Details;
            
            employee = (await SearchEmployee(leaveDto.EmployeeName)).FirstOrDefault();
            approver = (await SearchApprover(leaveDto.ApproverName)).FirstOrDefault();
           

            loading = false;

        }
        catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo cargar el detalle. {ex.Message}";
        }

    }

    private async Task<IEnumerable<string>> SearchApprover(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return approverList;
        return approverList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return employeeList;
        return employeeList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

   
}
