﻿@page "/holiday"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers;
@inject NavigationManager UriHelper;
@inject IHolidayService leaveService;
@inject IJSRuntime jsRuntime;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]



<MudTable Items="@vacationList" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewHolidayDto,bool>(FilterFunction)" @bind-SelectedItem="selectedItem" class="m-3">
    <ToolBarContent>
        <MudFab Href="/holiday/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de Licencias</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col style="width:50px;" />
        <col />
        <col />
         <col />
        <col style="width:50px;" />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Tipo</MudTh>
        <MudTh>Inicio</MudTh>
        <MudTh>Fin</MudTh>
        <MudTh>Aprobador</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.EmployeeName</MudTd>
        <MudTd DataLabel="Tipo">
            @switch(context.HolidayType)
            {
                    case "ANNUALLEAVE":
                    <MudFab Title="Licencia anual" Color="Color.Inherit"  StartIcon="@Icons.Material.Filled.AirplanemodeActive" Size="Size.Small" />
                    break;
                  
                    case "STUDYLEAVE":
                    <MudFab Title="Licencia estudiante"  Color="Color.Secondary" StartIcon="@Icons.Material.Filled.MenuBook" Size="Size.Small" />
                    break;

                    case "HEALTHLEAVE":
                    <MudFab Title="Licencia médica" Color="Color.Error" StartIcon="@Icons.Material.Filled.PersonalInjury" Size="Size.Small" />
                    break;
            }
        </MudTd>
        <MudTd DataLabel="Inicio">@context.StartHoliday.?Value.ToShortDateString()</MudTd>
        <MudTd DataLabel="Fin">@context.EndHoliday.?Value.ToShortDateString()</MudTd>
        <MudTd DataLabel="Aprobador">@context.ApproverName</MudTd>
        <MudTd DataLabel="Status">
            @switch(context.HolidayStatus)
            {
                case "APPROVE":
                    <MudFab Color="Color.Warning" Disabled="@(!isApprover)" StartIcon="@Icons.Material.Filled.Info" Size="Size.Small" OnClick="@(()=>ManagedLeave(@context.Id))" Title="Para aprobar" />
                    break;
                case "APPROVED":
                    <MudFab Color="Color.Success" Disabled="@(!isApprover)" StartIcon="@Icons.Material.Filled.Info" Size="Size.Small" OnClick="@(()=>ManagedLeave(@context.Id))" Title="Aprobada" />
                    break;
                case "REJECTED":
                    <MudFab Color="Color.Error" Disabled="@(!isApprover)" StartIcon="@Icons.Material.Filled.Info" Size="Size.Small" OnClick="@(()=>ManagedLeave(@context.Id))" Title="Rechazada" />
                    break;
                case "CANCELED":
                    <MudFab Color="Color.Surface" Disabled="@(!isApprover)" StartIcon="@Icons.Material.Filled.Info" Size="Size.Small" OnClick="@(()=>ManagedLeave(@context.Id))" Title="Cancelada" />
                    break;

            }
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/vacation/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar la licencia" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.EmployeeName))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error" OnClick="@(()=>GenerarPDF())" Class="ml-2 my-auto">Descargar</MudButton>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;
    bool isApprover = false;
    bool loading = true;
    private string searchString = "";
    private ViewHolidayDto selectedItem = null;
    private HashSet<ViewHolidayDto> selectedItems = new HashSet<ViewHolidayDto>();
    public IEnumerable<ViewHolidayDto> vacationList = new List<ViewHolidayDto>();

    protected override async Task OnInitializedAsync()
    {   

        var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

        if (userSessionStorageResult.Value.Role.Equals("MAINTAINER") ||
            userSessionStorageResult.Value.Role.Equals("ADMINISTRATOR"))
            isApprover = true;

        vacationList = await leaveService.GetAll();

        loading = false;
    }

    private bool FilterFunction(ViewHolidayDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewHolidayDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.EmployeeName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ApproverName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string employeeName)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar la vacaciones de {employeeName}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await leaveService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente la licencia";
                    await mboxMessage.Show();

                    vacationList = await leaveService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar la licencia";
                    await mboxMessage.Show();
                }
            }
        }
        catch (Exception ex)
        {
            messageTitle = $"Error al eliminar";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    private async void GenerarPDF()
    {
        try
        {
            IEnumerable<IReportingPdf> vacationToPdf;

            if (String.IsNullOrWhiteSpace(searchString))
                vacationToPdf = vacationList;                                // Si busqueda esta vacia cargo la tabla completa, si no filtro de la lista original
            else
                vacationToPdf = vacationList.Where(x => x.EmployeeName.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              x.ApproverName.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              $"{x.Id}".Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();

            string companyName = "BibionERP"; // Obtén el nombre de la empresa
            string reportName = "Reporte de Articulos"; // Obtén el nombre del reporte

            //byte[] pdfBytes = await PdfGenerator.GeneratePDFFromCollection(vacationToPdf, companyName, reportName);


            //await jsRuntime.InvokeVoidAsync("jsOpenIntoNewTab",
            //                "reports.pdf",
            //                Convert.ToBase64String(pdfBytes)
            //                );
        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }
    }


    private async void ManagedLeave(int id)
    {
        
    }
}
