﻿@page "/warehouse/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IWarehouseService _warehouseService;

@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar el Almacén</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle de  Almacén</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
          @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                            <MudCardContent>
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        <MudPaper Elevation="0">
                                            <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                                Habilitar Edición
                                            </MudCheckBox>
                                        </MudPaper>
                                    </Authorized>
                                </AuthorizeView>
                                <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Descripción" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/warehouse" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer/>
                                @if (Edit)
                                {
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                                }
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
            </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>

@code {
    CreateWarehouseDto model = new CreateWarehouseDto();

    [Parameter]
    public int Id { get; set; }

    public bool Edit { get; set; } = false;

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    bool updating = false;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var warehouseCreate = await _warehouseService.Update(model,Id, userSessionStorageResult.Value.FullName);

                if (warehouseCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito el almacen correctamente con id {warehouseCreate.Id}";

                    model = new CreateWarehouseDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar el almacen.";
                }

            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear el almacen. {ex.Message}";
            StateHasChanged();
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {


            loading = true;

            var warehouseDto = await _warehouseService.GetById(Id);

            model.Name = warehouseDto.Name;
            model.Description = warehouseDto.Description;
           
            loading = false;
        }
        catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo cargar el almacen. {ex.Message}";
            StateHasChanged();
        }

    }
  
}

