﻿@page "/warehouse"
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@inject IWarehouseService _warehouseService;
@inject NavigationManager UriHelper;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]


<MudTable Items="@Warehouse" Dense="false" Hover="true" Loading="@loading" Striped="true" Filter="new Func<ViewWarehouseDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" class="m-3">
    <ToolBarContent>
        <MudFab Href="/warehouse/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de almacén</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col style="width:100px;" />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Articulos</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Name</MudTd>
        <MudTd DataLabel="Articulos">
            <MudIconButton Title="Ver Articulos" Icon="@Icons.Material.Filled.LocalOffer" Variant="Variant.Filled" Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.DeepPurple.Darken3};")" Size="Size.Small" OnClick="@(()=> UriHelper.NavigateTo($"/warehouse/{@context.Id}/items"))" />
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Detalles" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper.NavigateTo($"/warehouse/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.Name))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
       <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString1 = "";
    private ViewWarehouseDto selectedItem1 = null;
    private HashSet<ViewWarehouseDto> selectedItems = new HashSet<ViewWarehouseDto>();

    private IEnumerable<ViewWarehouseDto> Warehouse = new List<ViewWarehouseDto>();

    protected override async Task OnInitializedAsync()
    {
        Warehouse = await _warehouseService.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewWarehouseDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ViewWarehouseDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string nameService)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar el almacen {nameService}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await _warehouseService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente el almacén";
                    await mboxMessage.Show();

                    Warehouse = await _warehouseService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar el almacén";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}

