﻿@page "/warehouse/{Id:int}/items"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers.Interface;
@using BibionERP.WebUI.Pages.Item.Shared
@inject IItemService itemService;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]


<TableItems Items="items" Loading="loading" TableName="Articulos por almacen" Return="/warehouse"></TableItems>



@code {

    [Parameter]
    public int Id { get; set; }
    private IEnumerable<ViewItemDto>? items = new List<ViewItemDto>();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        items = await itemService.Find(x => x.WarehouseItem.Any(wi => wi.WarehouseId.Equals(Id)) && x.IsDelete.Equals(false),Id);

               
        loading = false;
    }
}