﻿@page "/settings"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ISettingsService _settingsService;
@attribute [Authorize(Roles = "ADMINISTRATOR")]



<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Configuraciones</MudText>
</MudPaper>


<PromptMsg Show="@Show" Text="@Message" Accion="@Accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyName" For="@(() => model.CompanyName)" />
                            <MudTextField Label="Tipo de Servicios" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyType" For="@(() => model.CompanyType)" />
                            <MudTextField Label="Descripción" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyDescription" For="@(() => model.CompanyDescription)" />
                            <MudTextField Label="Telefono" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyPhoneNumber" For="@(() => model.CompanyPhoneNumber)" />
                            <MudTextField Label="Correo" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyEmail" For="@(() => model.CompanyEmail)" />
                            <MudTextField Label="Dirección" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyDirection" For="@(() => model.CompanyDirection)" />
                            <MudTextField Label="Localidad" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyLocation" For="@(() => model.CompanyLocation)" />
                            <MudTextField Label="URL Logo" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyImageLogo" For="@(() => model.CompanyImageLogo)" />
                            <MudTextField Label="Titulo Imagen" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyImageTitle" For="@(() => model.CompanyImageTitle)" />
                            <MudTextField Label="Titulo Web" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CompanyWebTitle" For="@(() => model.CompanyWebTitle)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/service" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer/>
                                @if (Edit)
                                {
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                }
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

@code {

    CreateSettingsDto model = new CreateSettingsDto();

    public bool Edit { get; set; } = false;
    bool loading = false;
    bool Show = false;
    Severity Accion;
    string Message = string.Empty;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var serviceUpdate = await _settingsService.UpdateSettings(model, userSessionStorageResult.Value.FullName);

                if (serviceUpdate.Id > 0)
                {
                    Edit = false;
                    Show = true;
                    Accion = Severity.Success;
                    Message = $"Se edito la configuración correctamente.";

                }
                else
                {
                    //error = true;
                    Show = true;
                    Accion = Severity.Error;
                    Message = "Error al editar la configuración.";
                }
            }
        }
        catch (Exception ex)
        {
            Show = true;
            Accion = Severity.Error;
            Message = $"Error al editar la configuración. { ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var settingsDto = await _settingsService.GetSettingsNow();

        model.CompanyDirection = settingsDto.CompanyDirection;
        model.CompanyDescription = settingsDto.CompanyDescription;
        model.CompanyName = settingsDto.CompanyName;
        model.CompanyType = settingsDto.CompanyType;
        model.CompanyWebTitle = settingsDto.CompanyWebTitle;
        model.CompanyPhoneNumber = settingsDto.CompanyPhoneNumber;
        model.CompanyEmail = settingsDto.CompanyEmail;
        model.CompanyPhoneNumber = settingsDto.CompanyPhoneNumber;
        model.CompanyImageLogo = settingsDto.CompanyImageLogo;
        model.CompanyImageTitle = settingsDto.CompanyImageTitle;
        model.CompanyLocation = settingsDto.CompanyLocation;


        loading = false;

    }
}
