﻿@page "/company/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components

@inject ICompanyService _companyService;
@inject ICustomerService _customerServices;

@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nueva Empresa</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Nombre"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Documento" Class="mt-3"
                                          @bind-Value="model.Document" For="@(() => model.Document)" />
                            <MudTextField Label="Descripción" Class="mt-3"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                            <MudAutocomplete T="string" Label="Contacto" @bind-Value="customer" 
                                          SearchFunc="@SearchCustomer"/>
                            <MudTextField Label="Correo" Class="mt-3"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                            <MudTextField Label="Telefono" Class="mt-3"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                            <MudTextField Label="Direccion" Class="mt-3"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/company" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>
@code {

    CreateCompanyDto model = new CreateCompanyDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    private string customer;
    public List<string> customerList = new ();

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                model.CustomerId = int.Parse(customer.Split('|')[0].Trim());

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var companyCreate = await _companyService.Insert(model, userSessionStorageResult.Value.FullName);

                if (companyCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo la empresa correctamente con id {companyCreate.Id}";
                    model = new CreateCompanyDto();
                    customer = string.Empty;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear la empresa.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la empresa. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }

    }
   
    protected override async Task OnInitializedAsync()
    {
        var customersDto = await _customerServices.GetAll();

        foreach(var c in customersDto)
        {
            customerList.Add($"{c.Id} | {c.FullName}");
        }

    }

    private async Task<IEnumerable<string>> SearchCustomer(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return customerList;
        return customerList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}