﻿@page "/company/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components

@inject ICompanyService _companyService;
@inject ICustomerService _customerServices;

@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if(Edit)
    {
        <MudText Typo="Typo.h2">Editar Empresa</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle Empresa</MudText>
    }
    
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudSpacer />
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición 
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudTextField Label="Id" ReadOnly="true"
                                @bind-Value="@Id" For="@(() => Id)" />
                            <MudTextField Label="Nombre" ReadOnly="!Edit"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Documento" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Document" For="@(() => model.Document)" />
                            <MudTextField Label="Descripción" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                            <MudAutocomplete T="string" Label="Contacto" @bind-Value="customer"
                                             ReadOnly="!Edit" SearchFunc="@SearchCustomer" />
                            <MudTextField Label="Correo" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                            <MudTextField Label="Telefono" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                            <MudTextField Label="Direccion" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/company" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                    <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                        <Authorized Context="Auth">
                                            @if(Edit)
                                            {
                                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                            }
                                        </Authorized>
                                </AuthorizeView>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
        }
        else
        {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
    </MudPaper>

@code {

    [Parameter]
    public int Id { get; set; } 

    public bool Edit { get; set; } = false;

    CreateCompanyDto model = new CreateCompanyDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    bool updating = false;
    private string customer;
    public List<string> customerList = new ();

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                model.CustomerId = int.Parse(customer.Split('|')[0].Trim());

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var companyCreate = await _companyService.Update(model,Id, userSessionStorageResult.Value.FullName);

                if (companyCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito la empresa correctamente con id {companyCreate.Id}";
                    model = new CreateCompanyDto();
                    customer = string.Empty;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar la empresa.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar la empresa. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var customersDto = await _customerServices.GetAll();

        foreach(var c in customersDto)
        {
            customerList.Add($"{c.Id} | {c.FullName}");
        }

        var companyDto = await _companyService.GetById(Id);

        model.Name = companyDto.Name;
        model.Description = companyDto.Description;
        model.Document = companyDto.Document;
        model.Address = companyDto.Address;
        model.Email = companyDto.Document;
        model.Phone = companyDto.Phone;

        customer = (await SearchCustomer(companyDto.CustomerName)).FirstOrDefault();

        loading = false;
    }

    private async Task<IEnumerable<string>> SearchCustomer(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return customerList;
        return customerList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}