﻿@page "/company"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers.Interface;
@inject NavigationManager UriHelper;
@inject ICompanyService _companyService;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]



<MudTable Items="@Companies" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewCompanyDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3">
    <ToolBarContent>
        <MudFab Href="/company/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de Empresas</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col style="width:100px;" />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Documento</MudTh>
        <MudTh>Correo</MudTh>
        <MudTh>Servicios</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Name</MudTd>
        <MudTd DataLabel="Documento">@context.Document</MudTd>
        <MudTd DataLabel="Correo">@context.Email</MudTd>
        <MudTd DataLabel="Servicios">
            <MudIconButton Title="Servicios Activos" Icon="@Icons.Material.Filled.CleaningServices" Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/company/{@context.Id}/services"))" />
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/company/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar la empresa" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.Name))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error" OnClick="@(()=>GenerarPDF())" Class="ml-2 my-auto">Descargar</MudButton>
    <MudSpacer />
    <div style="min-width:200px;">
         <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>


<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox mboxDeleted { get; set; }
    MudMessageBox mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewCompanyDto selectedItem = null;
    private HashSet<ViewCompanyDto> selectedItems = new HashSet<ViewCompanyDto>();

    public IEnumerable<ViewCompanyDto> Companies = new List<ViewCompanyDto>();

    protected override async Task OnInitializedAsync()
    {
        Companies = await _companyService.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewCompanyDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewCompanyDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Document} {element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string nameCompany)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar la compaña {nameCompany}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await _companyService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente la compaña";
                    await mboxMessage.Show();

                    Companies = await _companyService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar la compaña";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    private async void GenerarPDF()
    {
        try
        {
            IEnumerable<IReportingPdf> companyToPdf;

            if (String.IsNullOrWhiteSpace(searchString))
                companyToPdf = Companies;                                // Si busqueda esta vacia cargo la tabla completa, si no filtro de la lista original
            else
                companyToPdf = Companies.Where(x => x.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              x.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              $"{x.Id} {x.Document}".Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();




            //string companyName = "BibionERP"; // Obtén el nombre de la empresa
            //string reportName = "Reporte de Empresas"; // Obtén el nombre del reporte

            //byte[] pdfBytes = await pdfGenerator.GeneratePDFFromCollection(companyToPdf, companyName, reportName);


            //await jsRuntime.InvokeVoidAsync("jsOpenIntoNewTab",
            //                "reports.pdf",
            //                Convert.ToBase64String(pdfBytes)
            //                );


        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }

    }
}
