﻿@page "/company/{Id:int}/services"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.Application.Services;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ICompanyService _companyService;
@inject IServiceService _serviceService;
@inject ICustomerService _customerServices;
@inject ISnackbar Snackbar


@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    
    <MudText Typo="Typo.h2">Servicios para Empresa</MudText>

</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudSpacer />
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición 
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudTextField Label="Id" ReadOnly="true"
                                @bind-Value="@Id" For="@(() => Id)" />
                            <MudTextField Label="Nombre" ReadOnly="true"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                                <MudTextField Label="Documento" Class="mt-3" ReadOnly="true"
                                          @bind-Value="model.Document" For="@(() => model.Document)" />
                                <MudTextField Label="Descripción" Class="mt-3" ReadOnly="true"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                                <MudTextField Label="Contacto" Class="mt-3" ReadOnly="true"
                                          @bind-Value="@customer" />
                                <MudTextField Label="Correo" Class="mt-3" ReadOnly="true"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                                <MudTextField Label="Telefono" Class="mt-3" ReadOnly="true"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                                <MudTextField Label="Direccion" Class="mt-3" ReadOnly="true"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                                <MudAutocomplete T="string" Label="Servicios" @bind-Value="service" ReadOnly="!Edit"
                                                 SearchFunc="@SearchService" />
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Disabled="!Edit" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="AgregarServicio" />
                        </MudCardContent>
                        
                        <MudCardContent Class="pa-0">
                            <MudTable Items="@ServiceList" Dense="true" @bind-SelectedItem="selectedService" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
                                        OnCommitEditClick="@(() => Snackbar.Add("Se Agrego el servicio", Severity.Success))" IsEditRowSwitchingBlocked="false" 
                                        ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End"
                                          EditTrigger="TableEditTrigger.RowClick" HorizontalScrollbar="true">
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Servicios Ofrecidos</MudText>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Id</MudTh>
                                    <MudTh>Nombre</MudTh>
                                    <MudTh>Hs. Semana</MudTh>
                                    <MudTh>Dias</MudTh>
                                    <MudTh>Desde</MudTh>
                                    <MudTh>Hasta</MudTh>
                                </HeaderContent>
                                <RowTemplate Context="serviceList">
                                    <MudTd DataLabel="Id">@serviceList.ServiceId</MudTd>
                                    <MudTd DataLabel="Nombre">@serviceList.ServiceName</MudTd>
                                    <MudTd DataLabel="Hs. Semana">@serviceList.HoursWeek</MudTd>
                                    <MudTd DataLabel="Dias">@serviceList.RepeatDays</MudTd>
                                    <MudTd DataLabel="Dias">@serviceList.StartDate.Value.ToShortDateString()</MudTd>
                                    <MudTd DataLabel="Dias">@serviceList.EndDate.Value.ToShortDateString()</MudTd>
                                </RowTemplate>
                                <RowEditingTemplate Context="serviceList">
                                    <MudTd DataLabel="Id">@serviceList.ServiceId</MudTd>
                                    <MudTd DataLabel="Nombre">@serviceList.ServiceName</MudTd>
                                    <MudTd DataLabel="Hs. Semana">
                                        <MudNumericField @bind-Value="@serviceList.HoursWeek" Required Min="1" />
                                    </MudTd>
                                    <MudTd DataLabel="Dias">
                                        <MudTextField @bind-Value="serviceList.RepeatDays" For="@(() => serviceList.RepeatDays)" />
                                    </MudTd>
                                    <MudTd DataLabel="Desde">
                                        <MudDatePicker Label="Desde" Editable="true" @bind-Date="@serviceList.StartDate" Placeholder="Seleccionar Fecha" />
                                    </MudTd>
                                        <MudTd DataLabel="Desde">
                                        <MudDatePicker Label="Hasta" Editable="true" @bind-Date="@serviceList.EndDate" Placeholder="Seleccionar Fecha" />
                                    </MudTd>
                                </RowEditingTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                                <EditButtonContent Context="button">
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                                </EditButtonContent>
                            </MudTable>
                        </MudCardContent>
                        
                        
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/company" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                    <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                        <Authorized Context="Auth">
                                            @if(Edit)
                                            {
                                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                            }
                                        </Authorized>
                                </AuthorizeView>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
        }
        else
        {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
    </MudPaper>

@code {

    [Parameter]
    public int Id { get; set; } 

    public bool Edit { get; set; } = false;

    CreateCompanyDto model = new CreateCompanyDto();
    string customer = string.Empty;


    private string service = string.Empty;
    string message = string.Empty;
    bool show = false;
    Severity accion;
    List<string> AvailableServiceList = new List<string>();
    List<CreateCompanyServiceDto> ServiceList = new List<CreateCompanyServiceDto>();
    CreateCompanyServiceDto selectedService = new();

    bool loading = false;
    bool updating = false;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                //model.CustomerId = int.Parse(customer.Split('|')[0].Trim());

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");



                var companyUpdate = await _companyService.UpdateServices(Id, ServiceList, userSessionStorageResult.Value.FullName);

                if (companyUpdate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito la empresa correctamente se editaron {ServiceList.Count} servicios";
                    
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar la empresa, revise los datos.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar la empresa. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var serviceDto = await _serviceService.GetAll();

        var companyDto = await _companyService.GetById(Id);

        model.Name = companyDto.Name;
        model.Description = companyDto.Description;
        model.Document = companyDto.Document;
        model.Address = companyDto.Address;
        model.Email = companyDto.Document;
        model.Phone = companyDto.Phone;
        customer = companyDto.CustomerName;


        if (companyDto.CompanyServices is not null)
        {
            foreach (var service in companyDto.CompanyServices.ToList())

                ServiceList.Add(new CreateCompanyServiceDto
                {
                    ServiceId = service.ServiceId,
                    ServiceName = service.ServiceName,
                    StartDate = service.StartDate,
                    EndDate = service.EndDate,
                    HoursWeek = service.HoursWeek,
                    RepeatDays = service.RepeatDays,
                    TotalCost = service.TotalCost,
                    DiscountPercentage = service.DiscountPercentage,
                    FinalPrice = service.DiscountPercentage
                 }
            );
        }
       

        foreach (var serv in serviceDto)
            AvailableServiceList.Add($"{serv.Id} | {serv.Name}");

        StateHasChanged();

        loading = false;
    }

    private void AgregarServicio()
    {
        CreateCompanyServiceDto serviceAdd = new();

        serviceAdd.ServiceId = int.Parse(service.Split('|')[0].Trim());
        serviceAdd.ServiceName = service.Split('|')[1].Trim();
        serviceAdd.HoursWeek = 1;
        serviceAdd.RepeatDays = string.Empty;

        ServiceList.Add(serviceAdd);

        service = string.Empty;

    }

    private async Task<IEnumerable<string>> SearchService(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return AvailableServiceList;
        return AvailableServiceList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}