﻿@page "/customer/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ICustomerService _customerService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nuevo Cliente</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Nombre"
                                          @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                            <MudTextField Label="Apellido" Class="mt-3"
                                          @bind-Value="model.LastName" For="@(() => model.LastName)" />
                            <MudTextField Label="Correo" Class="mt-3"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                            <MudTextField Label="Telefono" Class="mt-3"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                            <MudTextField Label="Direccion" Class="mt-3"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                            <MudTextField Label="Comentarios" Class="mt-3"
                                          @bind-Value="model.Notes" For="@(() => model.Notes)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/customer" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>
@code {

    CreateCustomerDto model = new CreateCustomerDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var customerCreate = await _customerService.Insert(model, userSessionStorageResult.Value.FullName);

                if (customerCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo el cliente correctamente con id {customerCreate.Id}";
                    model = new CreateCustomerDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear el cliente.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear el cliente. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }

    }
    

}