﻿@page "/customer/detail/{Id:int}"

@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ICustomerService _customerService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar Cliente</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle Cliente</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        
        @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        <MudPaper Elevation="0">
                                            <MudSpacer />
                                            <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                                Habilitar Edición
                                            </MudCheckBox>
                                        </MudPaper>
                                    </Authorized>
                                </AuthorizeView>
                                <MudTextField Label="Id" ReadOnly="true"
                                          @bind-Value="Id"/>
                                <MudTextField Label="Nombre" ReadOnly="!Edit"
                                          @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                                <MudTextField Label="Apellido" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.LastName" For="@(() => model.LastName)" />
                                <MudTextField Label="Correo" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                                <MudTextField Label="Telefono" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                                <MudTextField Label="Direccion" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                                <MudTextField Label="Comentarios" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Notes" For="@(() => model.Notes)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/customer" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        @if (Edit)
                                        {    
                                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                        }
                                    </Authorized>
                                </AuthorizeView>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }


    </MudPaper>
</MudPaper>



        @code {

            [Parameter]
    public int Id { get; set; }

        private bool Edit { get; set; } = false;

    CreateCustomerDto model = new CreateCustomerDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    private bool loading = true; 
    private bool updating = false;
    

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var customerCreate = await _customerService.Update(model,Id, userSessionStorageResult.Value.FullName);

                if (customerCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito el cliente correctamente con id {customerCreate.Id}";
                    model = new CreateCustomerDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar el cliente.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar el cliente. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }

    }
    

        protected override async Task OnInitializedAsync()
        {
            loading = true;
            

            var customerDto = await _customerService.GetById(Id);


            model.FirstName = customerDto.FirstName;
            model.LastName = customerDto.LastName;
            model.Address = customerDto.Address;
            model.Email = customerDto.Email;
            model.Phone = customerDto.Phone;
            model.Notes = customerDto.Notes;
   
            loading = false;
        }

}