﻿@page "/customer"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers.Interface;
@using BibionERP.WebUI.Reporter.Helper;
@inject NavigationManager UriHelper;
@inject ICustomerService _customerServices;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]

<MudTable Items="@Customers" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewCustomerDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3">
    <ToolBarContent>
        <MudFab Href="/customer/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de Clientes</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Apellido</MudTh>
        <MudTh>Correo</MudTh>
        <MudTh>Teléfono</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.FirstName</MudTd>
        <MudTd DataLabel="Apellido">@context.LastName</MudTd>
        <MudTd DataLabel="Correo">@context.Email</MudTd>
        <MudTd DataLabel="Telefono">@context.Phone</MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar"  Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/customer/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar el cliente" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.FirstName,context.LastName))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error" OnClick="@(()=>GenerarPDF())" Class="ml-2 my-auto">Descargar</MudButton>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; } 
    MudMessageBox? mboxMessage { get; set; } 

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewCustomerDto selectedItem = null;
    private HashSet<ViewCustomerDto> selectedItems = new HashSet<ViewCustomerDto>();

    public IEnumerable<ViewCustomerDto> Customers = new List<ViewCustomerDto>();

    protected override async Task OnInitializedAsync()
    {
        Customers = await _customerServices.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewCustomerDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewCustomerDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string nameCustomer, string lastNameCustomer)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar el cliente {nameCustomer} {lastNameCustomer}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await _customerServices.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente el cliente";
                    await mboxMessage.Show();

                    Customers = await _customerServices.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar el cliente";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    private async void GenerarPDF()
    {
        try
        {
            List<ViewCustomerDto> customerToPdf;

            if (String.IsNullOrWhiteSpace(searchString))
                customerToPdf = Customers.ToList();                                // Si busqueda esta vacia cargo la tabla completa, si no filtro de la lista original
            else
                customerToPdf = Customers.Where(x => x.FullName.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              x.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              $"{x.Id}".Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();


            HelperPDF.GenerateCustomerPDF(customerToPdf);

        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }

    }

}
