﻿@page "/employee/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IEmployeeService _employeeService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nuevo Empleado</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Nombre" Class="mt-3"
                                  @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                    <MudTextField Label="Apellido" Class="mt-3"
                                  @bind-Value="model.LastName" For="@(() => model.LastName)" />
                    <MudTextField Label="Documento" Class="mt-3"
                                  @bind-Value="model.Document" For="@(() => model.Document)" />
                    <MudDatePicker Label="Fecha de Nacimiento" Editable="true" 
                                  @bind-Date="birthday" Placeholder="Seleccionar fecha" />
                    <MudTextField Label="Correo" Class="mt-3"
                                  @bind-Value="model.Email" For="@(() => model.Email)" />
                    <MudTextField Label="Telefono" Class="mt-3"
                                  @bind-Value="model.Phone" For="@(() => model.Phone)" />
                    <MudDatePicker Label="Fecha de Ingreso" Editable="true"
                                  @bind-Date="joinningDate" Placeholder="Seleccionar fecha" />
                    <MudTextField Label="Dirección" Class="mt-3"
                                  @bind-Value="model.Address" For="@(() => model.Address)" />
                    <MudTextField Label="Location" Class="mt-3"
                                  @bind-Value="model.Location" For="@(() => model.Location)" />
                </MudCardContent>
                <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }else
                            {
                                <MudButton Href="/employee" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer/>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>                                
                            }
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
</MudPaper>
</MudPaper>

@code {
    CreateEmployeeDto model = new CreateEmployeeDto();
    string message = string.Empty;
    bool show = false;
    Severity accion;
    bool loading = false;

    DateTime? birthday = DateTime.Now.AddYears(-18);
    DateTime? joinningDate = DateTime.Now;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");


                model.Birthday = DateOnly.FromDateTime(birthday.Value);
                model.JoiningDate = DateOnly.FromDateTime(joinningDate.Value);

                var employeeCreate = await _employeeService.Insert(model, userSessionStorageResult.Value.FullName);

                if (employeeCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo el empleado correctamente con id {employeeCreate.Id}";
                    model = new CreateEmployeeDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear el empleado.";
                }
            }
        }catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear el empleado. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}
