﻿@page "/employee/detail/{Id:int}"

@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IEmployeeService _employeeService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
       
    @if(Edit)
    {
        <MudText Typo="Typo.h2">Editar el Empleado</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle del Empleado</MudText>
    }

</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
        @if (loading.Equals(false))
        {
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        <MudPaper Elevation="0">
                                            <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                                Habilitar Edición
                                            </MudCheckBox>
                                        </MudPaper>
                                    </Authorized>
                                </AuthorizeView>
                                <MudTextField Label="Id" Class="mt-3" ReadOnly="true"
                                  @bind-Value="Id"/>
                                <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                  @bind-Value="model.FirstName" For="@(() => model.FirstName)" />
                                <MudTextField Label="Apellido" Class="mt-3" ReadOnly="!Edit"
                                  @bind-Value="model.LastName" For="@(() => model.LastName)" />
                                <MudTextField Label="Documento" Class="mt-3" ReadOnly="!Edit"
                                  @bind-Value="model.Document" For="@(() => model.Document)" />
                                <MudDatePicker Label="Fecha de Nacimiento" Editable="true" ReadOnly="!Edit"
                                           @bind-Date="birthday" Placeholder="Seleccionar fecha" />
                                <MudTextField Label="Correo" Class="mt-3" ReadOnly="!Edit"
                                  @bind-Value="model.Email" For="@(() => model.Email)" />
                                <MudTextField Label="Telefono" Class="mt-3" ReadOnly="!Edit"
                                  @bind-Value="model.Phone" For="@(() => model.Phone)" />
                                <MudDatePicker Label="Fecha de Ingreso" Editable="true" ReadOnly="!Edit"
                                  @bind-Date="joinningDate" Placeholder="Seleccionar fecha" />
                                <MudCheckBox @bind-Checked="@Leaving" Color="Color.Error" UnCheckedColor="Color.Default" ReadOnly="!Edit" onclick="@(()=>Checked())">
                                    Egreso de la empresa
                                </MudCheckBox>
                                <MudDatePicker Label="Fecha de Egreso" Editable="true" ReadOnly="!Leaving"
                                  @bind-Date="leavingDate" Placeholder="Seleccionar fecha" />
                                <MudTextField Label="Dirección" Class="mt-3" ReadOnly="!Edit"
                                  @bind-Value="model.Address" For="@(() => model.Address)" />
                                <MudTextField Label="Location" Class="mt-3"
                                  @bind-Value="model.Location" For="@(() => model.Location)" />
                            </MudCardContent>
                            <MudCardActions>
                                @if (updating == true)
                                {
                                    <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                                }

                                else
                                {
                                    <MudButton Href="/employee" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                    <MudSpacer/>
                                    @if(Edit)
                                    {
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                    }
                                }
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>

@code {

    [Parameter]
    public int Id { get; set; }

    CreateEmployeeDto model = new CreateEmployeeDto();

    public bool Edit { get; set; } = false;
    public bool Leaving { get; set; } = false;
    DateTime? birthday = DateTime.MinValue;
    DateTime? joinningDate = DateTime.MinValue;
    DateTime? leavingDate = DateTime.MinValue;

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    bool updating = false;

    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                if (Leaving.Equals(true) && (leavingDate.Value < joinningDate.Value))
                    throw new Exception("la fecha de egreso no puede ser menor a la fecha de ingreso");

                model.Birthday = DateOnly.FromDateTime(birthday.Value);
                model.JoiningDate = DateOnly.FromDateTime(joinningDate.Value);
                model.LeavingDate = DateOnly.FromDateTime(leavingDate.Value);

                var employeeEdit = await _employeeService.Update(model,Id, userSessionStorageResult.Value.FullName);

                if (employeeEdit.Id.Equals(Id))
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito el empleado correctamente con id {employeeEdit.Id}";
                    Edit = false;

                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar el empleado.";
                }
            }
        }catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar el empleado. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var employeeDto = await _employeeService.GetById(Id);


        model.FirstName = employeeDto.FirstName;
        model.LastName = employeeDto.LastName;
        model.Address = employeeDto.Address;
        model.Document = employeeDto.Document;
        model.Email = employeeDto.Email;
        model.Phone = employeeDto.Phone;
        model.Location = employeeDto.Location;
        birthday = employeeDto.Birthday.Value.ToDateTime(TimeOnly.MinValue);
        joinningDate = employeeDto.JoiningDate.Value.ToDateTime(TimeOnly.MinValue);
        leavingDate = employeeDto.LeavingDate.Value.ToDateTime(TimeOnly.MinValue);

        if (leavingDate > joinningDate)
            Leaving = true;

        loading = false;
    }


    private void Checked()
    {
        leavingDate = !Leaving.Equals(true) ? DateTime.Now : DateTime.MinValue;
    }
}
