﻿@page "/service/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]
@inject IServiceService _serviceService;


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar Servicio</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle de Servicio</MudText>
    }
</MudPaper>


<PromptMsg Show="@Show" Text="@Message" Accion="@Accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Descripción" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                            <MudNumericField Label="Precio Costo" Format="N2" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.CostPrice" For="@(() => model.CostPrice)" />
                            <MudNumericField Label="Precio Final" Format="N2" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.TotalPrice" For="@(() => model.TotalPrice)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/service" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer/>
                                @if (Edit)
                                {
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                }
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

@code {
     
    [Parameter]
    public int Id { get; set; }

    CreateServiceDto model = new CreateServiceDto();
    
    public bool Edit { get; set; } = false;

    bool loading = false;
    bool Show = false;
    Severity Accion;
    string Message = string.Empty;
    
    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var serviceUpdate = await _serviceService.Update(model,Id,userSessionStorageResult.Value.FullName);

                if (serviceUpdate.Id > 0)
                {                
                    Show = true;
                    Accion = Severity.Success;
                    Message = $"Se edito el servicio correctamente.";
                    model = new CreateServiceDto();
                }
                else
                {
                    //error = true;
                    Show = true;
                    Accion = Severity.Error;
                    Message = "Error al editar el servicio.";
                }
            }
        }
        catch (Exception ex)
        {
            Show = true;
            Accion = Severity.Error;
            Message = $"Error al editar el servicio. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
                
        var serviceDto = await _serviceService.GetById(Id);

        model.Name = serviceDto.Name;
        model.Description = serviceDto.Description;
        model.CostPrice = serviceDto.CostPrice;
        model.TotalPrice = serviceDto.TotalPrice;

        loading = false;

    }
    
}

