﻿@page "/service"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers;
@using BibionERP.WebUI.Helpers.Interface;
@using BibionERP.WebUI.Reporter.Helper;
@inject NavigationManager UriHelper;
@inject IServiceService serviceServices;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]


    <MudTable Items="@services" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewServiceDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3">
        <ToolBarContent>
            <MudFab Href="/service/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
            <MudSpacer />
            <MudText Typo="Typo.h6">Lista de Servicios</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col  />
        <col  />
        <col style="width:100px;" />
        <col style="width:100px;" />
    </ColGroup>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Nombre</MudTh>
            <MudTh>Descripción</MudTh>
            <MudTh>Precio</MudTh>
            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Nombre">@context.Name</MudTd>
            <MudTd DataLabel="Descripcion">@context.Description</MudTd>
        <MudTd DataLabel="Precio">@string.Format("{0:0.00}", @context.TotalPrice)</MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/service/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.Name))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error" OnClick="@(()=>GenerarPDF())" Class="ml-2 my-auto">Descargar</MudButton>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewServiceDto selectedItem = null;
    private HashSet<ViewServiceDto> selectedItems = new HashSet<ViewServiceDto>();

    public IEnumerable<ViewServiceDto> services = new List<ViewServiceDto>();
    public IEnumerable<IReportingPdf> servicesToPdf = new List<ViewServiceDto>();

    protected override async Task OnInitializedAsync()
    {
        services = await serviceServices.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewServiceDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewServiceDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string nameService)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar el servicio {nameService}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await serviceServices.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente el servicio";
                    await mboxMessage.Show();

                    services = await serviceServices.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar el servicio";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    private async void GenerarPDF()
    {
        try
        {
            List<ViewServiceDto> servicesToPdf;

            if (String.IsNullOrWhiteSpace(searchString))
                servicesToPdf = services.ToList();                                // Si busqueda esta vacia cargo la tabla completa, si no filtro de la lista original
            else
                servicesToPdf = services.Where(x => x.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              x.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              $"{x.Id} {x.TotalPrice}".Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();


            HelperPDF.GenerateServicesPDF(servicesToPdf);

        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }

    }

}
