﻿@page "/supplier/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ISupplierService supplierService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nuevo Proveedor</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Nombre"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Documento" Class="mt-3"
                                          @bind-Value="model.Document" For="@(() => model.Document)" />
                            <MudTextField Label="Contacto" Class="mt-3"
                                          @bind-Value="model.ContactPerson" For="@(() => model.ContactPerson)" />
                            <MudTextField Label="Correo" Class="mt-3"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                            <MudTextField Label="Telefono" Class="mt-3"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                            <MudTextField Label="Direccion" Class="mt-3"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                            <MudTextField Label="Locacion" Class="mt-3"
                                          @bind-Value="model.Location" For="@(() => model.Location)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/supplier" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>
@code {

    CreateSupplierDto model = new CreateSupplierDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
  

    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var supplierCreate = await supplierService.Insert(model,userSessionStorageResult.Value.FullName);

                if (supplierCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo el proveedor correctamente con id {supplierCreate.Id}";

                    model = new CreateSupplierDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear el proveedor.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear el proveedor. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }

    }
}