﻿@page "/supplier/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ISupplierService supplierService;
@inject NavigationManager UriHelper;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if(Edit)
    {
        <MudText Typo="Typo.h2">Editar el Proveedor</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle del Proveedor</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
         @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudTextField Label="Nombre" ReadOnly="!Edit"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Documento" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Document" For="@(() => model.Document)" />
                            <MudTextField Label="Contacto" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.ContactPerson" For="@(() => model.ContactPerson)" />
                            <MudTextField Label="Correo" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Email" For="@(() => model.Email)" />
                            <MudTextField Label="Telefono" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Phone" For="@(() => model.Phone)" />
                            <MudTextField Label="Direccion" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Address" For="@(() => model.Address)" />
                            <MudTextField Label="Locacion" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Location" For="@(() => model.Location)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/supplier" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer />
                                @if (Edit)
                                {
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                                }
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
            </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>
@code {

    [Parameter]
    public int Id{ get; set; }

    public bool Edit { get; set; } = false;

    CreateSupplierDto model = new CreateSupplierDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    bool updating = false;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var supplierCreate = await supplierService.Update(model,Id,userSessionStorageResult.Value.FullName);

                if (supplierCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito el proveedor correctamente con id {supplierCreate.Id}";

                    model = new CreateSupplierDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar el proveedor.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar el proveedor. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var supplierDto = await supplierService.GetById(Id);

        model.Name = supplierDto.Name;
        model.Document = supplierDto.Document;
        model.Address = supplierDto.Address;
        model.Phone = supplierDto.Phone;
        model.Email = supplierDto.Email;
        model.ContactPerson = supplierDto.ContactPerson;
        model.Location = supplierDto.Location;

        loading = false;
   
    }

}