﻿@page "/supplier"
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@inject ISupplierService supplierService;
@inject NavigationManager UriHelper;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]


<MudTable Items="@Suppliers" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewSupplierDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3">
        <ToolBarContent>
        <MudFab Href="/supplier/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
            <MudText Typo="Typo.h6">Lista de Proveedores</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col style="width:100px;" />
        <col style="width:100px;" />
    </ColGroup>
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Nombre</MudTh>
            <MudTh>Contacto</MudTh>
            <MudTh>Correo</MudTh>
            <MudTh>Articulos</MudTh>
            <MudTh>Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Nombre">@context.Name</MudTd>
            <MudTd DataLabel="Contacto">@context.ContactPerson</MudTd>
            <MudTd DataLabel="Correo">@context.Email</MudTd>
            <MudTd DataLabel="Articulos">
                <MudIconButton Title="Ver Articulos" Icon="@Icons.Material.Filled.LocalOffer" Variant="Variant.Filled" Style="@($"color:{Colors.Grey.Lighten5}; background:{Colors.DeepPurple.Darken3};")" Size="Size.Small" OnClick="@(()=> UriHelper.NavigateTo($"/supplier/{@context.Id}/items"))" />
            </MudTd>
            <MudTd DataLabel="Acciones">
                <MudIconButton Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper.NavigateTo($"/supplier/detail/{@context.Id}"))" />
                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                    <Authorized Context="Auth">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.Name))" />
                    </Authorized>
                </AuthorizeView>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewSupplierDto selectedItem = null;
    private HashSet<ViewSupplierDto> selectedItems = new HashSet<ViewSupplierDto>();

    public IEnumerable<ViewSupplierDto> Suppliers = new List<ViewSupplierDto>();

    protected override async Task OnInitializedAsync()
    {
        Suppliers = await supplierService.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewSupplierDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewSupplierDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ContactPerson.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Email.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string nameService)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar el proveedor {nameService}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await supplierService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente el proveedor";
                    await mboxMessage.Show();

                    Suppliers = await supplierService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar el proveedor";
                    await mboxMessage.Show();
                }
            }
        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

}