﻿@page "/auth/login"
@using BibionERP.Application.Interface;
@using BibionERP.Application.Services;
@using BibionERP.WebUI.Authentication;
@inject IAuthService authService
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject IDialogService dialogService

<body>
    <MudPaper Height="120px"></MudPaper>
    <MudPaper Class="d-flex align-content-center justify-center" Elevation="0">
        <MudPaper Class="m-md-auto" Width="640px" Elevation="2">
            <MudForm OnValidSubmit="OnValidSubmit" Class="mx-5 my-5">
                <MudTextField T="string" Label="Email" Required="true" RequiredError="El correo es requerido!" Class="mt-3 mx-auto"
                              @bind-Value="email" HelperText="Ingresar el correo electronico." />
                <MudTextField T="string" Label="Password" HelperText="Ingresar el password del usuario." Class="mt-3 mx-auto"
                              InputType="InputType.Password" @bind-Value="password" RequiredError="Password is required!" />
                <div class="mx-auto mt-5 d-flex align-self-end justify-space-between">
                    @if (loading == true)
                    {
                        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="mx-auto" />
                    }
                    else
                    {
                        <MudCheckBox @bind-Checked="@remember" Label="Recordar" Class=""></MudCheckBox>
                        <MudSpacer />
                        <MudButton @onclick="Authenticate" Variant="Variant.Filled" Color="Color.Primary" class="btn btn-primary btn-block">Login</MudButton>
                    }
                    
                </div>
            </MudForm>
        </MudPaper>
    </MudPaper>
    <!-- /.login-box -->
    
  
</body>

@code {

    bool loading = false;
    bool remember = false;
    string[] errors = { };

    public string? email { get; set; }
    public string? password { get; set; } 

    private async Task Authenticate()
    {
        loading = true;
        StateHasChanged();

        var request = new Application.DTOs.Create.CreateAuthDto
            {
                Email = email,
                Password = password,
            };

        try
        {
            var userAccount = await authService.Login(request);

            if(userAccount.AuthResponse is null)
            {
                OpenMessageBox("Error login",userAccount.Message);
                loading = false;
                
            }
            else
            {
                var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;

                await customAuthStateProvider.UpdateAuthenticationState(new UserSession
            {
                FullName = userAccount.AuthResponse.FullName,
                Role = userAccount.AuthResponse.Role,
                Email = userAccount.AuthResponse.Email,
                EmployeeId = userAccount.AuthResponse.EmployeeId.ToString(),
                UserId = userAccount.AuthResponse.UserId.ToString(),
            },remember);

                navigationManager.NavigateTo("/", true);
            }
        }
        catch (Exception ex)
        {

            System.Console.WriteLine(ex.Message);
        }
    }

    private async void OpenMessageBox(string title, string message)
    {
        await dialogService.ShowMessageBox(
            title,
            message,
            yesText: "Ok");

            StateHasChanged();
    }
}
