﻿@using BibionERP.Application.Helpers;
@using MudBlazor;

<MudChart ChartType="ChartType.Bar" ChartSeries="@Series" Width="100%" Height="80%" >
	<CustomGraphics>
		<style>
			.heavy { font: bold 30px Helvetica; }
			.Rrrrr { font: italic 40px Helvetica; fill: rgb(62,44,221); }
		</style>
	</CustomGraphics>
</MudChart>

@code {

	[Parameter]
	public int Total { get; set; }

	[Parameter]
	public int Mes { get; set; }

	[Parameter]
	public int Dia { get; set; }

	public List<ChartSeries> Series;

	protected override async Task OnInitializedAsync()
	{
		Series = new List<ChartSeries>()
		{
			new ChartSeries() { Name = "Total", Data = new double[] { Total } },
			new ChartSeries() { Name = "Mes", Data = new double[] { Mes } },
			new ChartSeries() { Name = "Dia", Data = new double[] { Dia } },
		};

	}

}
