﻿@page "/meeting/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IMeetingService _meetingService;
@inject IEmployeeService _employeeService;
@inject ICustomerService _customerService;
@inject ISnackbar Snackbar

@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nueva Reunion</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardContent>
                        <MudAutocomplete T="string" Label="Cliente" @bind-Value="customer"
                                             SearchFunc="@SearchCustomer" />                    
                        <MudAutocomplete T="string" Label="Empleado" @bind-Value="employee"
                                             SearchFunc="@SearchEmployee" />
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="AgregarAttendance" />
                    <MudPaper Width="100%" Elevation="0">
                        @foreach(var item in AttendanceList)
                            {
                                if (item.AttendanceType.Equals("EMPLOYEE"))
                                {
                                    <MudChip Style="@($"color:{Colors.DeepPurple.Darken2};Background:white;")"  OnClose="Closed" Text="@item.AttendanceName" Value="@item.AttendanceType"></MudChip>
                                }
                                else if (item.AttendanceType.Equals("CUSTOMER"))
                                {
                                    <MudChip Style="@($"color:{Colors.DeepOrange.Darken2};Background:white;")" OnClose="Closed" Text="@item.AttendanceName" Value="@item.AttendanceType"></MudChip>
                                }
                                else
                                {
                                    <MudChip Style="@($"color:{Colors.Indigo.Darken2};Background:white;")" OnClose="Closed" Text="@item.AttendanceName" Value="@item.AttendanceType"></MudChip>
                                }
                            }
                    </MudPaper>
                    <MudDatePicker Label="Fecha de Reunion" Editable="true"
                                           @bind-Date="meetingDate" Placeholder="Seleccionar fecha" />
                    <MudTextField Label="Lugar" Class="mt-3"
                                  @bind-Value="model.Location" For="@(() => model.Location)" />
                    <MudTextField Label="Minutas de la reunion" Class="mt-3" Lines="5"
                                  @bind-Value="model.Notes" For="@(() => model.Notes)" />
                            <MudTextField Label="Tareas pendientes" Class="mt-3" Lines="5"
                                          @bind-Value="model.Task" For="@(() => model.Task)" />
                </MudCardContent>
                <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }else
                            {
                                <MudButton Href="/meeting" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer/>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>                                
                            }
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
</MudPaper>
</MudPaper>

@code {
    CreateMeetingDto model = new CreateMeetingDto();
    string message = string.Empty;
    bool show = false;
    Severity accion;
    bool loading = false;

    private List<ViewAttendanceDto> AttendanceList = new List<ViewAttendanceDto>();

    DateTime? meetingDate = DateTime.Now;

    private string customer = string.Empty;
    private List<string> customerList = new();

    private string employee = string.Empty;
    private List<string> employeeList = new();


    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                if (AttendanceList.Count < 1)
                    throw new Exception("Debe haber por lo menos una persona presente");


                model.Date = meetingDate;
                model.AttendanceList = AttendanceList;

                var meetingCreate = await _meetingService.Insert(model, userSessionStorageResult.Value.FullName);

                if (meetingCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo la reunion correctamente con id {meetingCreate.Id}";
                    model = new CreateMeetingDto();
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear la reunion.";
                }
            }
        }catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la reunion. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var emplyeesDto = await _employeeService.GetAll();

        var customersDto = await _customerService.GetAll();

        foreach (var e in emplyeesDto)
        {
            employeeList.Add($"{e.Id} | {e.FullName}");
        }

        foreach (var c in customersDto)
        {
            customerList.Add($"{c.Id} | {c.FullName}");
        }

    }

    private async Task<IEnumerable<string>> SearchCustomer(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return customerList;
        return customerList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return employeeList;
        return employeeList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void AgregarAttendance()
    {
        if(!String.IsNullOrEmpty(employee))
        {
            AttendanceList.Add(new ViewAttendanceDto
            {
                    AttendanceId = int.Parse(employee.Split('|')[0].Trim()),
                    AttendanceName = employee.Split('|')[1].Trim(),
                    AttendanceType = "EMPLOYEE"

            });
        }

        if (!String.IsNullOrEmpty(customer))
        {
            AttendanceList.Add(new ViewAttendanceDto
                {
                    AttendanceId = int.Parse(customer.Split('|')[0].Trim()),
                    AttendanceName = customer.Split('|')[1].Trim(),
                    AttendanceType = "CUSTOMER"

                });
        }

        customer = string.Empty;
        employee = string.Empty;
    }

    private void Closed(MudChip chip)
    {
        var resultado = AttendanceList.RemoveAll(x => x.AttendanceName.Equals(chip.Text) && x.AttendanceType.Equals((String)chip.Value));

        if (resultado > 0)
            Snackbar.Add($"Se elimina el {(String)chip.Value} {chip.Text}", Severity.Warning);

    }

}
