﻿@page "/meeting"
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@inject IMeetingService _meetingService;
@inject NavigationManager UriHelper;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]

<MudTable Items="@meetings.OrderByDescending(x => x.Date)" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewMeetingDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3" RowsPerPage="25">
    <ToolBarContent>
        <MudFab Href="/meeting/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de Reuniones</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col style="max-width:250px;" />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Dia</MudTh>
        <MudTh>Asistentes</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Fecha">@context.Date.Value.ToLongDateString()</MudTd>
        <MudTd DataLabel="Asistentes">@foreach(var assist in context.Attendances)
            {
                if (assist.AttendanceType.Equals("EMPLOYEE"))
                {
                    <MudChip Variant="Variant.Outlined" Style="@($"color:{Colors.DeepPurple.Darken2};")" Value="@assist.AttendanceType" Text="@assist.AttendanceName"/>
                }
                else if (assist.AttendanceType.Equals("CUSTOMER"))
                {
                    <MudChip Variant="Variant.Outlined" Style="@($"color:{Colors.DeepOrange.Darken2};")" Value="@assist.AttendanceType" Text="@assist.AttendanceName" />
                }
                else
                {
                    <MudChip Variant="Variant.Outlined" Style="@($"color:{Colors.Indigo.Darken2};")" Value="@assist.AttendanceType" Text="@assist.AttendanceName" />
                }

            }
            
        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/meeting/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar la reunion" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewMeetingDto selectedItem = null;
    private HashSet<ViewMeetingDto> selectedItems = new HashSet<ViewMeetingDto>();

    public IEnumerable<ViewMeetingDto> meetings = new List<ViewMeetingDto>();

    protected override async Task OnInitializedAsync()
    {
        meetings = await _meetingService.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewMeetingDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewMeetingDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar los datos la reunion";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await _meetingService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente al empleado";
                    await mboxMessage.Show();

                    meetings = await _meetingService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar al empleado";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}
