﻿ <MudAppBar Color="Color.Primary" Elevation="2">
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@OnClick" />
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <MudText Align="Align.Center" Typo="Typo.h3">Bibion ERP</MudText>
    </MudHidden>        
    
    <MudSpacer />
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    @if (@CompanyName.Length > 25)
    {
        <MudText Align="Align.Center" Typo="Typo.h4">@CompanyName</MudText>
    } 
    else
    {
        <MudText Align="Align.Center" Typo="Typo.h3">@CompanyName</MudText>
    }
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        @if (@CompanyName.Length > 25)
        {
            <MudText Align="Align.Center" Typo="Typo.h5">@CompanyName</MudText>
        }
        else
        {
            <MudText Align="Align.Center" Typo="Typo.h4">@CompanyName</MudText>
        }
    </MudHidden>

            <MudSpacer />
            <AuthorizeView>
                <Authorized>
                    <MudText Typo="Typo.h6" Class="mx-3">@UserName</MudText>
                </Authorized>
            </AuthorizeView>
            <MudText Typo="Typo.h6">@date.ToString("dd/MM/yyyy")</MudText>
 </MudAppBar>

@code {

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string CompanyName { get; set; }

    private DateOnly date = DateOnly.FromDateTime(DateTime.Now);

}
