﻿@using BibionERP.Application.DTOs.ViewDetail;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers.Interface;
@inherits LayoutComponentBase
@inject ISettingsService _settingsService;

<PageTitle>@settingsDto.CompanyWebTitle</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<CascadingAuthenticationState>
<MudLayout>
        <AppBar UserName="@userName" CompanyName="@settingsDto.CompanyName" OnClick="ToggleDrawer" />
        <MudDrawer @bind-Open="@open" Breakpoint="Breakpoint.Lg" Elevation="1" PreserveOpenState="@preserveOpenState">
        <NavMenu ImageLogoPath="@settingsDto.CompanyImageLogo" ImageLogoAlt="@settingsDto.CompanyImageTitle" />
        <MudSpacer/>
        <MudPaper class="mx-auto" Elevation="0">
            <MudText Typo="Typo.subtitle2">Version 0.2.0</MudText>
            <MudText Typo="Typo.subtitle2">Fecha 8/12/2023</MudText>
        </MudPaper>
    </MudDrawer>
    <MudMainContent Class="mb-5">
        @Body
    </MudMainContent>
</MudLayout>
</CascadingAuthenticationState>


@code{

    private string userName = string.Empty;
    public ViewDetailSettingsDto settingsDto = new ViewDetailSettingsDto();
    bool preserveOpenState = true;
    bool open = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {

            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is not null)
                userName = userSessionStorageResult.Value.FullName;

        }
        catch (Exception ex)
        {

            System.Console.WriteLine($"Error en inicio: {ex.Message}");
        }

    }

    protected override async Task OnInitializedAsync()
    {
        settingsDto = await _settingsService.GetSettings();
        StateHasChanged();
    }

    void ToggleDrawer()
    {
        open = !open;
    }

}
