﻿@using BibionERP.WebUI.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager

<MudNavMenu>
    <MudPaper MinHeight="100px" MinWidth="150px" Class="d-flex align-content-center justify-content-center p-2">
        <MudImage src="@ImageLogoPath" Height="100" Class="mx-auto" Alt="@ImageLogoAlt" />
        </MudPaper>
    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <AuthorizeView>
        <NotAuthorized>
            <MudNavLink Href="/auth/login" Icon="@Icons.Material.Filled.Login" Match="NavLinkMatch.Prefix">Login</MudNavLink>
        </NotAuthorized>
        <Authorized> 
            <MudNavLink Icon="@Icons.Material.Filled.Logout" Match="NavLinkMatch.Prefix" OnClick="@(()=> Logout())">Logout</MudNavLink>
            <MudNavGroup Title="Empresa" Icon="@Icons.Material.Filled.MapsHomeWork" @bind-Expanded="_expandedEmpresa">
                <MudNavLink Href="/employee" Match="NavLinkMatch.Prefix">Personal</MudNavLink>
                <MudNavLink Href="/service" Match="NavLinkMatch.Prefix">Servicios</MudNavLink>
                <MudNavLink Href="/holiday" Match="NavLinkMatch.Prefix">Licencias</MudNavLink>
            </MudNavGroup>
            <MudDivider />
            <MudNavGroup Title="Inventario" Icon="@Icons.Material.Filled.AllInbox" @bind-Expanded="_expandedInventario">
                <MudNavLink Href="/item" Match="NavLinkMatch.Prefix">Articulos</MudNavLink>
                <MudNavLink Href="/category" Match="NavLinkMatch.Prefix">Categorias</MudNavLink>
                <MudNavLink Href="/supplier" Match="NavLinkMatch.Prefix">Proveedor</MudNavLink>
                <MudNavLink Href="/warehouse" Match="NavLinkMatch.Prefix">Almacenes</MudNavLink>
                <MudNavLink Href="/delivered" Match="NavLinkMatch.Prefix">Entregas</MudNavLink>
            </MudNavGroup>
            <MudDivider />
            <MudNavGroup Title="Externos" Icon="@Icons.Material.Filled.People" @bind-Expanded="_expandedExterno">
                <MudNavLink Href="/customer" Match="NavLinkMatch.Prefix">Clientes</MudNavLink>
                <MudNavLink Href="/company" Match="NavLinkMatch.Prefix">Empresas</MudNavLink>
                <MudNavLink Href="/meeting" Match="NavLinkMatch.Prefix">Reuniones</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Varios" Icon="@Icons.Material.Filled.InsertInvitation" @bind-Expanded="_expandedVarios">
                <MudNavLink Href="/note" Match="NavLinkMatch.Prefix">Notas</MudNavLink>
                <MudNavLink Href="/calendar" Match="NavLinkMatch.Prefix">Calendario</MudNavLink>
                <MudNavLink Href="/documents" Match="NavLinkMatch.Prefix">Documentos</MudNavLink>
            </MudNavGroup>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="ADMINISTRATOR">
         <Authorized>
            <MudDivider />
            <MudNavGroup Title="Configuracion" Icon="@Icons.Material.Filled.Handyman" @bind-Expanded="_expandedConfiguracion">
                <MudNavLink Href="/users" Icon="@Icons.Material.Filled.SupervisedUserCircle" Match="NavLinkMatch.Prefix">Usuarios</MudNavLink>
                <MudNavLink Href="/settings" Icon="@Icons.Material.Filled.Settings" Match="NavLinkMatch.Prefix">Configuraciones</MudNavLink>
                <MudNavLink Href="/holidaymanagment" Icon="@Icons.Material.Filled.Settings" Match="NavLinkMatch.Prefix">Gestión Licencias</MudNavLink>
            </MudNavGroup>
         </Authorized>
    </AuthorizeView>
    <MudDivider />
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="/personal" Icon="@Icons.Material.Filled.WorkHistory" Match="NavLinkMatch.All">Personal</MudNavLink>
        </Authorized>
    </AuthorizeView>
</MudNavMenu>

<MudMessageBox @ref="mbox" Title="Logout" CancelText="Cancelar" Class="py-5">
    <MessageContent>
        Desea salir del sistema?
    </MessageContent>
    <YesButton>
        <MudButton Class="mx-3" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Logout">Salir</MudButton>
    </YesButton>
</MudMessageBox>


@code {

    MudMessageBox? mbox { get; set; }

    private bool _expandedEmpresa = false;
    private bool _expandedInventario = false;
    private bool _expandedExterno = false;
    private bool _expandedConfiguracion = false;
    private bool _expandedVarios = false;

    [Parameter]
    public string? ImageLogoPath { get; set; }

    [Parameter]
    public string? ImageLogoAlt { get; set; }


    private async void Logout()
    {

        bool? result = await mbox.Show();

        if (result is not null)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;

            await customAuthStateProvider.UpdateAuthenticationState(null);

            navigationManager.NavigateTo("/", true);
        }

        
    }
}
