﻿@page "/documents/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject INoteService _noteService;
@inject IUserService _userService;
@inject ISnackbar Snackbar

@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nueva Nota</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px" >
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit" >
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardContent>
                        <MudAutocomplete T="string" Label="Usuario" @bind-Value="receiverUser"
                                             SearchFunc="@SearchUser" />

                            <MudTextField Label="Tags" Class="mt-3"
                                          @bind-Value="tag" For="@(() => tag)"/>
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="AgregarTag" />
                    <MudPaper Width="100%" Elevation="0">
                            @foreach (var item in TagsList)
                            {
                        
                                <MudChip Style="@($"color:{Colors.Blue.Darken3};Background:white;")" OnClose="Closed" Text="@item" Value="@item"></MudChip>    
                            }
                    </MudPaper>
                   
                    <MudTextField Label="Titulo" Class="mt-3"
                                  @bind-Value="model.Title" For="@(() => model.Title)" />
                    <MudTextField Label="Message" Class="mt-3" Lines="5"
                                  @bind-Value="model.Message" For="@(() => model.Message)" />
                    <MudCheckBox @bind-Checked="@isTask" Color="Color.Primary" Label="Es una tarea" UnCheckedColor="Color.Default"></MudCheckBox>
                </MudCardContent>
                <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }else
                            {
                                <MudButton Href="/note" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer/>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>                                
                            }
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
</MudPaper>
</MudPaper>

@code {
    CreateNoteDto model = new CreateNoteDto();
    private string message = string.Empty;
    private bool show = false;
    Severity accion;
    private bool loading = false;
    private string tag = string.Empty;

    private List<String> TagsList = new List<String>();

    private DateTime? meetingDate = DateTime.Now;

    private bool isTask = false;
    private string receiverUser = string.Empty;
    private List<string> userList = new();

    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");



                model.UserSenderId = int.Parse(userSessionStorageResult.Value.UserId);

                model.UserReceiverId = int.Parse(receiverUser.Split('|')[0].Trim());

                model.IsTask = isTask;         
                model.Tags = TagsList;

                var noteCreate = await _noteService.Insert(model, userSessionStorageResult.Value.FullName);

                if (noteCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo la nota correctamente con id {noteCreate.Id}";
                    model = new CreateNoteDto();
                    TagsList = new List<String>();
                    receiverUser = string.Empty;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear la nota.";
                }
            }
        }catch(Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la nota. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var usersDto = await _userService.GetAll();

        foreach (var u in usersDto)
        {
            userList.Add($"{u.Id} | {u.FullName}");
        }

    }

    private async Task<IEnumerable<string>> SearchUser(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return userList;
        return userList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void AgregarTag()
    {
        if(!String.IsNullOrEmpty(tag))
        {
            TagsList.Add(tag);
        }
        tag = string.Empty;
    }

    private void Closed(MudChip chip)
    {
        var resultado = TagsList.Remove((String)chip.Value);

        if (resultado)
            Snackbar.Add($"Se elimina el {(String)chip.Value}", Severity.Warning);

    }

}
