﻿@page "/documents/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject INoteService _noteService;
@inject IUserService _userService;
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar Nota</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle de la Nota</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion" />

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudAutocomplete T="string" Label="Usuario Creador:" @bind-Value="senderUser" ReadOnly="true"
                                             SearchFunc="@SearchUser" />

                            <MudAutocomplete T="string" Label="Usuario" @bind-Value="receiverUser" ReadOnly="!Edit"
                                                SearchFunc="@SearchUser" />

                            <MudTextField Label="Tags" Class="mt-3" ReadOnly="!Edit"
                            @bind-Value="tag" For="@(() => tag)" />
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="AgregarTag" />
                            <MudPaper Width="100%" Elevation="0">
                                @foreach (var item in TagsList)
                                {
                                    <MudChip Style="@($"color:{Colors.Blue.Darken3};Background:white;")" OnClose="Closed" Text="@item" Value="@item"></MudChip>
                                }
                            </MudPaper>

                            <MudTextField Label="Titulo" Class="mt-3" ReadOnly="!Edit"
                            @bind-Value="model.Title" For="@(() => model.Title)" />
                            <MudTextField Label="Message" Class="mt-3" Lines="5" ReadOnly="!Edit"
                            @bind-Value="model.Message" For="@(() => model.Message)" />

                            <MudCheckBox @bind-Checked="@isTask" Color="Color.Info" Label="Es una tarea" UnCheckedColor="Color.Default" ReadOnly="!Edit">
                            </MudCheckBox>
                            <MudCheckBox @bind-Checked="@isCompleted" Color="Color.Success" Label="Tarea Completa" UnCheckedColor="Color.Default" ReadOnly="!Edit">
                            </MudCheckBox>
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/note" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                @if (Edit)
                                {
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                }
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

@code {

    [Parameter]
    public int Id { get; set; }

    CreateNoteDto model = new CreateNoteDto();

    public bool Edit { get; set; } = false;

    bool loading = false;
    string message = string.Empty;
    bool show = false;
    Severity accion;
    private string tag = string.Empty;
    private List<String> TagsList = new List<String>();
    private DateTime? meetingDate = DateTime.MinValue;
    private bool isTask = false;
    private bool isCompleted = false;
    private string receiverUser = string.Empty;
    private string senderUser = string.Empty;
    private List<string> userList = new();


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var usersDto = await _userService.GetAll();

        foreach (var u in usersDto)
        {
            userList.Add($"{u.Id} | {u.FullName}");
        }


        var noteDto = await _noteService.GetById(Id);

        model.Title = noteDto.Title;
        model.Message = noteDto.Message;
        isCompleted = noteDto.IsCompleted;
        isTask = noteDto.IsTask;
        TagsList = noteDto.Tags.ToList();



        senderUser = (await SearchUser(noteDto.UserSenderId.ToString())).FirstOrDefault();

        receiverUser = (await SearchUser(noteDto.UserReceiverId.ToString())).FirstOrDefault();


        loading = false;
    }


    private async void OnValidSubmit(EditContext context)
    {

        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");



                model.UserSenderId = int.Parse(userSessionStorageResult.Value.UserId);

                model.UserReceiverId = int.Parse(receiverUser.Split('|')[0].Trim());

                model.IsCompleted = isCompleted;
                model.IsTask = isTask;
                model.Tags = TagsList;

                var noteEdit = await _noteService.Update(model,Id ,userSessionStorageResult.Value.FullName);

                if (noteEdit.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito la nota correctamente con id {noteEdit.Id}";
                    model = new CreateNoteDto();
                    TagsList = new List<String>();
                    receiverUser = string.Empty;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar la nota.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar la nota. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
        

    }

    private async Task<IEnumerable<string>> SearchUser(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return userList;
        return userList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void AgregarTag()
    {
        if (!String.IsNullOrEmpty(tag))
        {
            TagsList.Add(tag);
        }
        tag = string.Empty;
    }

    private void Closed(MudChip chip)
    {
        var resultado = TagsList.Remove((String)chip.Value);

        if (resultado)
            Snackbar.Add($"Se elimina el {(String)chip.Value}", Severity.Warning);

    }
}
