﻿@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers.Interface;
@using BibionERP.WebUI.Reporter.Helper;
@inject IItemService itemService;
@inject NavigationManager UriHelper;
@inject IJSRuntime jsRuntime;



<MudTable Items="@Items.OrderBy(x=>x.Id)" Dense="false" Hover="true" Striped="true" Loading="@Loading" Filter="new Func<ViewItemDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3 pt-4">
    <ToolBarContent>
        <MudFab Href="/item/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">@TableName</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col style="width:100px;" />
        <col style="width:100px;" />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Codigo</MudTh>
        <MudTh>Proveedor</MudTh>
        <MudTh>Cantidad</MudTh>
        <MudTh>Precio</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Nombre">@context.Name</MudTd>
        <MudTd DataLabel="Codigo">@context.Code</MudTd>
        <MudTd DataLabel="Proveedor">@context.SupplierName</MudTd>
        <MudTd DataLabel="Cantidad">@context.Quantity</MudTd>
        <MudTd DataLabel="Precio">@string.Format("{0:0.00}", @context.TradePrice)</MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/item/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar el articulo" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.Name))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.PictureAsPdf" Color="Color.Error" OnClick="@(()=>GenerarPDF())" Class="ml-2 my-auto">Descargar</MudButton>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="@Return" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>
@code {

    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    [Parameter]
    public string? TableName { get; set; }

    [Parameter]
    public string? TableDescription { get; set; }

    [Parameter]
    public IEnumerable<ViewItemDto>? Items { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public string? Return { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    private string searchString = "";
    private ViewItemDto selectedItem = null;
    private HashSet<ViewItemDto> selectedItems = new HashSet<ViewItemDto>();


    private bool FilterFunc1(ViewItemDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewItemDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.SupplierName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string nameItem)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar el articulo {nameItem}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                Loading = true;
                StateHasChanged();
                var response = await itemService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente el articulo";
                    await mboxMessage.Show();

                    Items = await itemService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar al empleado";
                    await mboxMessage.Show();
                }
            }
        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            Loading = false;
            StateHasChanged();
        }
    }

    private async void GenerarPDF()
    {
        try
        {
            List<ViewItemDto> itemsToPdf;

            if (String.IsNullOrWhiteSpace(searchString))
                itemsToPdf = Items.ToList();                                // Si busqueda esta vacia cargo la tabla completa, si no filtro de la lista original
            else
                itemsToPdf = Items.Where(x => x.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              x.SupplierName.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                              $"{x.Id} {x.Code}".Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();

            HelperPDF.GenerateItemsPDF(itemsToPdf, TableName);
        }
        catch (Exception ex)
        {
            System.Console.WriteLine(ex.Message);
        }
    }
}
