﻿@page "/category/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ICategoryItemService _categoryItemService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nuevo Almacen</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Nombre" Class="mt-3"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Descripción" Class="mt-3"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/category" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto">Volver</MudButton>
                                <MudSpacer/>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

@code {
    CreateCategoryItemDto model = new CreateCategoryItemDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                    var warehouseCreate = await _categoryItemService.Insert(model, userSessionStorageResult.Value.FullName);

                    if (warehouseCreate.Id > 0)
                    {
                        show = true;
                        accion = Severity.Success;
                        message = $"Se creo la categoria correctamente con id {warehouseCreate.Id}";

                    model = new CreateCategoryItemDto();
                    }
                    else
                    {
                        show = true;
                        accion = Severity.Error;
                    message = $"No se pudo crear la categoria.";
                    }
                
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la categoria. {ex.Message}";
            StateHasChanged();
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
  
}

