﻿@page "/category/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject ICategoryItemService _categoryItemService;

@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar la categoria</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle de categoria</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
         @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudSpacer />
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición 
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                            <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Descripción" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                    <MudButton Href="/category" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        @if(Edit)
                                        {
                                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                        }
                                            
                                    </Authorized>
                                </AuthorizeView>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
            </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>

@code {


    [Parameter]
    public int Id { get; set; }

    public bool Edit { get; set; } = false;

    CreateCategoryItemDto model = new CreateCategoryItemDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    bool loading = false;
    bool updating = false;

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                    var categoryEdit = await _categoryItemService.Insert(model, userSessionStorageResult.Value.FullName);

                if (categoryEdit.Id > 0)
                    {
                        show = true;
                        accion = Severity.Success;
                    message = $"Se edito la categoria correctamente con id {categoryEdit.Id}";

                    model = new CreateCategoryItemDto();
                    }
                    else
                    {
                        show = true;
                        accion = Severity.Error;
                    message = $"No se pudo editar la categoria.";
                    }
                
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar la categoria. {ex.Message}";
            StateHasChanged();
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        

        var categoryDto = await _categoryItemService.GetById(Id);

        model.Name = categoryDto.Name;
        model.Description = categoryDto.Description;
       
        loading = false;
    }
  
}

