﻿@page "/note"
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@inject INoteService _noteService;
@inject NavigationManager UriHelper;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]

<MudTable Items="@notes.OrderByDescending(x => x.Date)" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewNoteDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3" RowsPerPage="25">
    <ToolBarContent>
        <MudFab Href="/note/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de Notas</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col />
        <col />
        <col style="width:50px;" />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Realizada</MudTh>
        <MudTh>Fecha</MudTh>
        <MudTh>Titulo</MudTh>
        <MudTh>Tags</MudTh>
        <MudTh>Completada</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Realizada">@context.UserSenderName</MudTd>
        <MudTd DataLabel="Fecha">@context.Date.ToLongDateString()</MudTd>
        <MudTd DataLabel="Titulo">@context.Title</MudTd>
        <MudTd DataLabel="Tags">
            @foreach (var tag in context.Tags)
            {
               <MudChip Variant="Variant.Outlined" Style="@($"color:{Colors.Indigo.Darken2};")" Text="@tag" />
            }
        </MudTd>
        <MudTd DataLabel="Completada">
            
            @if(context.IsCompleted)
            {
                <MudIconButton Title="Completada" Icon="@Icons.Material.Filled.CheckBox" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" />
            }
            else if (context.IsTask)
            {
                <MudIconButton Title="Tarea por completar" Icon="@Icons.Material.Filled.CheckBox" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" />
            }
            else
            {
                <MudIconButton Title="No es tarea" Icon="@Icons.Material.Filled.CheckBoxOutlineBlank" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" />
            }

        </MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/note/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar la reunion" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {
    MudMessageBox? mboxDeleted { get; set; }
    MudMessageBox? mboxMessage { get; set; }

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewNoteDto selectedItem = null;
    private HashSet<ViewNoteDto> selectedItems = new HashSet<ViewNoteDto>();

    public IEnumerable<ViewNoteDto> notes = new List<ViewNoteDto>();

    protected override async Task OnInitializedAsync()
    {
        var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

        if (userSessionStorageResult.Value is not null)
            notes = await _noteService.Find(x => x.UserReceiverId.Equals(int.Parse(userSessionStorageResult.Value.UserId)));
        else
            notes = new List<ViewNoteDto>();

        loading = false;
    }

    private bool FilterFunc1(ViewNoteDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewNoteDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.UserSenderName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Date.ToLongDateString}{element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar los datos la nota";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await _noteService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente la nota";
                    await mboxMessage.Show();

                    notes = await _noteService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar la nota";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }
}
