﻿@page "/item/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IItemService _itemService;
@inject IWarehouseService _warehouseService;
@inject ISupplierService _supplierService;
@inject ICategoryItemService _categoryService;
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Editar el Articulo</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Detalle del Articulo</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion"/>


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
         @if (loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                <Authorized Context="Auth">
                                    <MudPaper Elevation="0">
                                        <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                            Habilitar Edición
                                        </MudCheckBox>
                                    </MudPaper>
                                </Authorized>
                            </AuthorizeView>
                                <MudTextField Label="Nombre" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                                <MudTextField Label="Descripción" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Description" For="@(() => model.Description)" />
                                <MudNumericField Label="Precio Costo" Class="mt-3" Format="N2" ReadOnly="!Edit"
                                          @bind-Value="model.CostPrice" For="@(() => model.CostPrice)" />
                                <MudNumericField Label="Precio Venta" Class="mt-3" Format="N2" ReadOnly="!Edit"
                                          @bind-Value="model.TradePrice" For="@(() => model.TradePrice)" />
                                <MudTextField Label="Codigo" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Code" For="@(() => model.Code)" />
                                <MudAutocomplete T="string" Label="Categoria" Class="mt-3" ReadOnly="!Edit"
                                             @bind-Value="category" SearchFunc="@SearchCategory" />
                                <MudAutocomplete T="string" Label="Proveedor" Class="mt-3" ReadOnly="!Edit"
                                             @bind-Value="supplier" SearchFunc="@SearchSupplier" />
                            @*<MudAutocomplete T="string" Label="Almacen" Class="mt-3" ReadOnly="!Edit"
                                             @bind-Value="warehouse" SearchFunc="@SearchWarehouse" />*@
                                <MudDatePicker Label="Fecha de fabricado" Editable="true" ReadOnly="!Edit"
                                           @bind-Date="manufacturingDate" Placeholder="Seleccionar Fecha" />
                                <MudDatePicker Label="Fecha de vencimiento" Editable="true" ReadOnly="!Edit"
                                           @bind-Date="expirationDate" Placeholder="Seleccionar Fecha" />
                                <MudTextField Label="Notas" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Note" For="@(() => model.Note)" />
                                <MudTable Items="@warehouseItems.OrderBy(wi=>wi.WarehouseName)" Hover="true" Breakpoint="Breakpoint.Sm">
                                    <HeaderContent>
                                        <MudTh>Almacén</MudTh>
                                        <MudTh>Cantidad</MudTh>
                                    </HeaderContent>
                                    <RowTemplate Context="warehouseItems">
                                        <MudTd DataLabel="Almacén">@warehouseItems.WarehouseName</MudTd>
                                        <MudTd DataLabel="Cantidad mass">@warehouseItems.Quantity</MudTd>
                                    </RowTemplate>
                                </MudTable>
                        </MudCardContent>

                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/item" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                @if (Edit)
                                {
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                }
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>

@code {

    [Parameter]
    public int Id { get; set; }

    CreateItemDto model = new CreateItemDto();

    List<ViewWarehoueItemDto> warehouseItems = new();

    public bool Edit { get; set; } = false;

    string message = string.Empty;
    bool show = false;
    Severity accion;

    public string warehouse = string.Empty, supplier = string.Empty, category = string.Empty;

    public List<string> warehouseList = new(), supplierList = new(), categoryList = new();

    bool loading = false;
    bool updating = false;

    DateTime? expirationDate = DateTime.Today;

    DateTime? manufacturingDate = DateTime.Today;


    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;


                model.ManufactureDate = DateOnly.FromDateTime(manufacturingDate.Value);
                model.ExpirationDate = DateOnly.FromDateTime(expirationDate.Value);

                model.CategoryId = int.Parse(category.Split('|')[0].Trim());
                //model.WarehouseId = int.Parse(warehouse.Split('|')[0].Trim());
                model.SupplierId = int.Parse(supplier.Split('|')[0].Trim());

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var itemCreate = await _itemService.Insert(model,userSessionStorageResult.Value.FullName);

                if (itemCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito el articulo correctamente con id {itemCreate.Id}";
                    model = new CreateItemDto();

                    warehouse = string.Empty;
                    supplier = string.Empty;
                    category = string.Empty;
                    manufacturingDate = DateTime.Today;
                    expirationDate = DateTime.Today;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar el articulo.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar el articulo. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var warehousesDto = await _warehouseService.GetAll();

        foreach (var w in warehousesDto)
        {
            warehouseList.Add($"{w.Id} | {w.Name}");
        }

        var categoriesDto = await _categoryService.GetAll();

        foreach (var c in categoriesDto)
        {
            categoryList.Add($"{c.Id} | {c.Name}");
        }

        var supplierDto = await _supplierService.GetAll();

        foreach (var s in supplierDto)
        {
            supplierList.Add($"{s.Id} | {s.Name}");
        }

        var itemDto = await _itemService.GetById(Id);

        model.Name = itemDto.Name;
        model.Description = itemDto.Description;
        model.CostPrice = itemDto.CostPrice;
        model.TradePrice = itemDto.TradePrice;
        model.Note = itemDto.Note;
        model.Code = itemDto.Code;

        expirationDate = itemDto.ExpirationDate.Value.ToDateTime(TimeOnly.MinValue);
        manufacturingDate = itemDto.ManufactureDate.Value.ToDateTime(TimeOnly.MinValue);

        category = (await SearchCategory(itemDto.CategoryName)).FirstOrDefault();

        supplier = (await SearchSupplier(itemDto.SupplierName)).FirstOrDefault();


        if (itemDto.ViewWarehouseItemsDto is not null)
            warehouseItems = itemDto.ViewWarehouseItemsDto;
        else
            warehouseItems = new();

        loading = false;

    }

    private async Task<IEnumerable<string>> SearchCategory(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return categoryList;
        return categoryList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchSupplier(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return supplierList;
        return supplierList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchWarehouse(string value)
    {
        //// if text is null or empty, show complete list
        //if (string.IsNullOrEmpty(value))
        //    return warehouseList;
        //return warehouseList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));

        return warehouseList;
    }

   
}
