﻿@page "/item"
@using BibionERP.Application.DTOs.Interface;
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Helpers.Interface;
@using BibionERP.WebUI.Pages.Item.Shared
@inject IItemService itemService;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]


<TableItems Items="items" Loading="loading" TableName="Lista de Articulos" Return="/"></TableItems>



@code {

    private IEnumerable<ViewItemDto>? items = new List<ViewItemDto>();

    bool loading = true;
    

    protected override async Task OnInitializedAsync()
    {
        items = await itemService.GetAll();

        loading = false;
    }

   
}
