﻿@page "/socialnetworks/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTEINER")]
@inject ISocialService _socialService;


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Crear Nueva red Social</MudText>
</MudPaper>


<PromptMsg Show="@Show" Text="@Message" Accion="@Accion"/>

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Nombre" Class="mt-3"
                                          @bind-Value="model.Name" For="@(() => model.Name)" />
                            <MudTextField Label="Link url" Class="mt-3"
                                          @bind-Value="model.URL" For="@(() => model.URL)" />
                            <MudTextField Label="Icono" Class="mt-3"
                                          @bind-Value="model.Icons" For="@(() => model.Icons)" />
                            <MudTextField Label="Visible" Class="mt-3"
                                          @bind-Value="model.Visible" For="@(() => model.Visible)" />
                        </MudCardContent>
                        <MudCardActions>
                            @if (loading == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/socialnetworks" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer/>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>
@code {

    CreateSocialDto model = new CreateSocialDto();

    bool loading = false;
    bool Show = false;
    Severity Accion;
    string Message = string.Empty;
    
    private async void OnValidSubmit(EditContext context)
    {
        try
        {

            if (context.Validate())
            {
                loading = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                var socialCreate = await _socialService.Insert(model,userSessionStorageResult.Value.FullName);

                if (socialCreate.Id > 0)
                {                
                    Show = true;
                    Accion = Severity.Success;
                    Message = $"Se creo la red social correctamente.";  
                    model = new CreateSocialDto();
                }
                else
                {
                    //error = true;
                    Show = true;
                    Accion = Severity.Error;
                    Message = "Error al crear la red social.";
                }
            }
        }
        catch (Exception ex)
        {
            Show = true;
            Accion = Severity.Error;
            Message = $"Error al crear la red social. {ex.Message}";
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

    
}

