﻿@page "/delivered/create"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IDeliveryNoteService _deliveryNoteService;
@inject IEmployeeService _employeeService;
@inject IItemService _itemService;
@inject ICategoryDeliveryNoteService _categoryService;
@inject IWarehouseService _warehouseService;
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    <MudText Typo="Typo.h2">Entrega de Productos</MudText>
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion" />

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        @if(loading.Equals(false))
        {
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardContent>
                                <MudAutocomplete T="string" Label="Categoria" @bind-Value="category" MaxItems="20"
                                             SearchFunc="@SearchCategory" />
                                <MudAutocomplete T="string" Label="Funcionario" @bind-Value="employee" MaxItems="20"
                                             SearchFunc="@SearchEmployee" />
                            <MudDatePicker Label="Fecha de Recibo" Editable="true"
                                           @bind-Date="date" Placeholder="Seleccionar fecha" />
                            <MudDatePicker Label="Fecha desde" Editable="true"
                                           @bind-Date="startDate" Placeholder="Seleccionar fecha" />
                            <MudDatePicker Label="Fecha hasta" Editable="true"
                                           @bind-Date="endDate" Placeholder="Seleccionar fecha" />
                            <MudTextField Label="Location"
                                          @bind-Value="model.Location" For="@(() => model.Location)" />
                            <MudTextField Label="Notas" Class="mt-3"
                                          @bind-Value="model.Note" For="@(() => model.Note)" />
                                <MudAutocomplete T="string" Label="Almacén" @bind-Value="warehouse" MaxItems="20"
                                                 SearchFunc="@SearchWarehouse" />
                            <MudAutocomplete T="string" Label="Productos" @bind-Value="item" MaxItems="20"
                                             SearchFunc="@SearchItem" />
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="AgregarProducto"/>
                        </MudCardContent>

                        <MudCardContent Class="pa-0">
                            <MudTable Items="@ItemListAdd" Dense="true" @bind-SelectedItem="selectedItem1" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
                                      OnCommitEditClick="@(() => Snackbar.Add("Se Agrego el producto", Severity.Success))" IsEditRowSwitchingBlocked="false" ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End" EditTrigger="TableEditTrigger.RowClick">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Productos Entregados</MudText>
                        </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Id</MudTh>
                                <MudTh>Producto</MudTh>
                                <MudTh>Qty</MudTh>
                            </HeaderContent>
                                <RowTemplate Context="itemListAdd">
                                    <MudTd DataLabel="Id">@itemListAdd.ItemId</MudTd>
                                    <MudTd DataLabel="Producto">@itemListAdd.ItemName</MudTd>
                                    <MudTd DataLabel="Qty">@itemListAdd.Quantity</MudTd>
                            </RowTemplate>
                                <RowEditingTemplate Context="itemListAdd">
                                    <MudTd DataLabel="ItemId">itemListAdd.ItemId</MudTd>
                                    <MudTd DataLabel="Producto">@itemListAdd.ItemName</MudTd>
                                    <MudTd DataLabel="Qty">
                                        <MudNumericField @bind-Value="@itemListAdd.Quantity" Required Min="1" />
                                    </MudTd>
                            </RowEditingTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                            <EditButtonContent Context="button">
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                            </EditButtonContent>
                        </MudTable>
                        </MudCardContent>
                        <MudCardActions>
                            @if (updating == true)
                            {
                                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else
                            {
                                <MudButton Href="/delivered" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                <MudSpacer />
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Registrar</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
        }
        else
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>
@code {

    CreateDeliveryNoteDto model = new CreateDeliveryNoteDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    private DateTime? date = DateTime.Now;
    private DateTime? startDate = DateTime.Now;
    private DateTime? endDate = DateTime.Now;

    private string employee = string.Empty;
    private List<string> employeeList = new();

    private string warehouse = string.Empty;
    private List<string> warehouseList = new();

    private string item = string.Empty;
    private List<string> itemList = new();

    private string category = string.Empty;
    private List<string> categoryList = new();


    bool loading = false;
    bool updating = false;

    private List<CreateDeliveryNoteDetailDto> ItemListAdd = new();
    CreateDeliveryNoteDetailDto selectedItem1 = new();

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                if (String.IsNullOrEmpty(employee) | String.IsNullOrEmpty(category) | String.IsNullOrEmpty(warehouse))
                    throw new Exception("Error al seleccionar la categoria | empleado | almacén.");

                if (ItemListAdd.Count.Equals(0))
                    throw new Exception("Debe seleccionar un articulo como minimo.");

                model.Date = date.Value;
                model.StartDate = DateOnly.FromDateTime(startDate.Value);
                model.EndDate = DateOnly.FromDateTime(endDate.Value);
                model.EmployeeId = int.Parse(employee.Split('|')[0].Trim());
                model.CategoryId = int.Parse(category.Split('|')[0].Trim());
                model.WarehouseId = int.Parse(warehouse.Split('|')[0].Trim());

                var deliveredCreate = await _deliveryNoteService.Insert(model, ItemListAdd, userSessionStorageResult.Value.FullName);

                if (deliveredCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se creo la boleta de entrega con el id {deliveredCreate.Id}";
                    model = new CreateDeliveryNoteDto();
                    ItemListAdd = new();
                    employee = string.Empty;
                    item = string.Empty;
                    warehouse = string.Empty;
                    date = DateTime.Now;
                    startDate = DateTime.Now;
                    endDate = DateTime.Now;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo crear la boleta.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo crear la boleta. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        var emplyeesDto = await _employeeService.GetAll();

        var itemsDto = await _itemService.GetAll();

        var categoryDto = await _categoryService.GetAll();

        var warehouseDto = await _warehouseService.GetAll();


        foreach (var e in emplyeesDto)
        {
            employeeList.Add($"{e.Id} | {e.FullName}");
        }

        foreach (var i in itemsDto)
        {
            itemList.Add($"{i.Id} | {i.Name}");
        }

        foreach (var c in categoryDto)
        {
            categoryList.Add($"{c.Id} | {c.Name}");
        }

        foreach (var w in warehouseDto)
        {
            warehouseList.Add($"{w.Id} | {w.Name}");
        }

    }

    private void AgregarProducto()
    {
        CreateDeliveryNoteDetailDto prod = new();

        if(item.Length>0)
        {
            prod.ItemId = int.Parse(item.Split('|')[0].Trim());
            prod.ItemName = item.Split('|')[1].Trim();
            prod.Quantity = 1;

            ItemListAdd.Add(prod);

            item = string.Empty;
        }
        else
        {
            Snackbar.Add("Se debe Seleccionar un producto", Severity.Error);
        }



    }

    private async Task<IEnumerable<string>> SearchCategory(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return categoryList;
        return categoryList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return employeeList;
        return employeeList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchItem(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return itemList;
        return itemList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchWarehouse(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return warehouseList;
        return warehouseList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }


}