﻿@page "/delivered/detail/{Id:int}"
@using BibionERP.Application.DTOs.Create;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@using BibionERP.WebUI.Components
@inject IDeliveryNoteService _deliveryNoteService;
@inject IEmployeeService _employeeService;
@inject IItemService _itemService;
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "ADMINISTRATOR,MAINTAINER,OPERATOR")]


<MudPaper Class="d-flex justify-center flex-grow-8 gap-2" Elevation="0">
    @if (Edit)
    {
        <MudText Typo="Typo.h2">Edición de Entrega</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2">Entrega de Productos</MudText>
    }
</MudPaper>

<PromptMsg Show="@show" Text="@message" Accion="@accion" />

<MudPaper Class="d-flex justify-center flex-grow-8 gap-2 m-3" Elevation="0">
    <MudPaper Width="800px">
        @if (loading.Equals(false))
        {
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>
                            <MudCardContent>
                                <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                    <Authorized Context="Auth">
                                        <MudPaper Elevation="0">
                                            <MudSpacer />
                                            <MudCheckBox @bind-Checked="@Edit" Color="Color.Success" UnCheckedColor="Color.Default">
                                                Habilitar Edición
                                            </MudCheckBox>
                                        </MudPaper>
                                    </Authorized>
                                </AuthorizeView>
                                <MudTextField Label="Categoria" ReadOnly="true"
                                          @bind-Value="category" />
                                <MudAutocomplete T="string" Label="Funcionario" @bind-Value="employee" ReadOnly="!Edit"
                                             SearchFunc="@SearchEmployee" />
                                <MudDatePicker Label="Fecha de Recibo" Editable="true" ReadOnly="!Edit"
                                           @bind-Date="date" Placeholder="Seleccionar fecha" />
                                <MudDatePicker Label="Fecha desde" Editable="true" ReadOnly="!Edit"
                                           @bind-Date="startDate" Placeholder="Seleccionar fecha" />
                                <MudDatePicker Label="Fecha hasta" Editable="true" ReadOnly="!Edit"
                                           @bind-Date="endDate" Placeholder="Seleccionar fecha" />
                                <MudTextField Label="Location" ReadOnly="!Edit"
                                          @bind-Value="model.Location" For="@(() => model.Location)" />
                                <MudTextField Label="Notas" Class="mt-3" ReadOnly="!Edit"
                                          @bind-Value="model.Note" For="@(() => model.Note)" />
                                <MudAutocomplete T="string" Label="Productos" @bind-Value="item" ReadOnly="!Edit"
                                             SearchFunc="@SearchItem" />
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" OnClick="AgregarProducto"/>
                            </MudCardContent>

                            <MudCardContent Class="pa-0">
                                <MudTable Items="@ItemListAdd" Dense="true" @bind-SelectedItem="selectedItem1" SortLabel="Sort By" CommitEditTooltip="Commit Edit" ReadOnly="!Edit"
                              OnCommitEditClick="@(() => Snackbar.Add("Se Agrego el producto"))" IsEditRowSwitchingBlocked="false" ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End" EditTrigger="TableEditTrigger.RowClick">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Productos Entregados</MudText>
                            </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Id</MudTh>
                                    <MudTh>Producto</MudTh>
                                    <MudTh>Qty</MudTh>
                                </HeaderContent>
                                    <RowTemplate Context="itemListAdd">
                                        <MudTd DataLabel="Id">@itemListAdd.ItemId</MudTd>
                                        <MudTd DataLabel="Producto">@itemListAdd.ItemName</MudTd>
                                        <MudTd DataLabel="Qty">@itemListAdd.Quantity</MudTd>

                                </RowTemplate>
                                    <RowEditingTemplate Context="itemListAdd">
                                        <MudTd DataLabel="ItemId">itemListAdd.ItemId</MudTd>
                                        <MudTd DataLabel="Producto">@itemListAdd.ItemName</MudTd>
                                        <MudTd DataLabel="Qty">
                                            <MudNumericField @bind-Value="@itemListAdd.Quantity" Required Min="1" />
                                        </MudTd>

                                </RowEditingTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                                <EditButtonContent Context="button">
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                                </EditButtonContent>
                            </MudTable>
                            </MudCardContent>
                            <MudCardActions>
                                @if (updating == true)
                                {
                                        <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                                }
                                else
                                {
                                        <MudButton Href="/delivered" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" StartIcon="@Icons.Material.Filled.ArrowBack">Volver</MudButton>
                                        <MudSpacer />
                                    <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                                        <Authorized Context="Auth">
                                            @if (Edit)
                                            {
                                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Guardar</MudButton>
                                            }
                                        </Authorized>
                                    </AuthorizeView>
                                }
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </EditForm>
        }
        else
        {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
    </MudPaper>
</MudPaper>
@code {

    [Parameter]
    public int Id { get; set; }

    CreateDeliveryNoteDto model = new CreateDeliveryNoteDto();

    string message = string.Empty;
    bool show = false;
    Severity accion;

    private DateTime? date = DateTime.Now;
    private DateTime? startDate = DateTime.Now;
    private DateTime? endDate = DateTime.Now;

    private string category;
    private string employee;
    private List<string> employeeList = new();

    private string item;
    private List<string> itemList = new();

    private bool Edit { get; set; } = false;
    bool loading = true;
    bool updating = false;

    private List<CreateDeliveryNoteDetailDto> ItemListAdd = new();
    CreateDeliveryNoteDetailDto selectedItem1 = new();

    private async void OnValidSubmit(EditContext context)
    {
        try
        {
            if (context.Validate())
            {
                updating = true;
                StateHasChanged();

                var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

                if (userSessionStorageResult.Value is null)
                    throw new Exception("Error en el usuario, contacte con el administrador.");

                model.Date = date.Value;
                model.StartDate = DateOnly.FromDateTime(startDate.Value);
                model.EndDate = DateOnly.FromDateTime(endDate.Value);
                model.EmployeeId = int.Parse(employee.Split('|')[0].Trim());


                var deliveredCreate = await _deliveryNoteService.Update(model, Id, ItemListAdd, userSessionStorageResult.Value.FullName);

                if (deliveredCreate.Id > 0)
                {
                    show = true;
                    accion = Severity.Success;
                    message = $"Se edito la boleta de entrega con el id {deliveredCreate.Id}";
                    model = new CreateDeliveryNoteDto();
                    ItemListAdd = new();
                    employee = string.Empty;
                    item = string.Empty;
                }
                else
                {
                    show = true;
                    accion = Severity.Error;
                    message = $"No se pudo editar la boleta de entrega.";
                }
            }
        }
        catch (Exception ex)
        {
            show = true;
            accion = Severity.Error;
            message = $"No se pudo editar la boleta de entrega. {ex.Message}";
        }
        finally
        {
            updating = false;
            StateHasChanged();
        }

    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        var emplyeesDto = await _employeeService.GetAll();

        var itemsDto = await _itemService.GetAll();

        foreach (var c in emplyeesDto)
        {
            employeeList.Add($"{c.Id} | {c.FullName}");
        }

        foreach (var i in itemsDto)
        {
            itemList.Add($"{i.Id} | {i.Name}");
        }


        var noteDto = await _deliveryNoteService.GetById(Id);

        model.Location = noteDto.Location;
        model.Note = noteDto.Note;
        date = noteDto.Date;
        startDate = noteDto.StartDate.Value.ToDateTime(TimeOnly.MinValue);
        endDate = noteDto.EndDate.Value.ToDateTime(TimeOnly.MinValue);
        category = noteDto.CategoryName;
        employee = (await SearchEmployee(noteDto.EmployeeName)).FirstOrDefault();

        foreach(var details in noteDto.Details)
        {
            ItemListAdd.Add(new CreateDeliveryNoteDetailDto
            {
                ItemId = details.Id,
                ItemName = details.ItemName,
                Quantity = details.Quantity
            });
        }

        loading = false;
    }

    private void AgregarProducto()
    {
        CreateDeliveryNoteDetailDto prod = new();

        prod.ItemId = int.Parse(item.Split('|')[0].Trim());
        prod.ItemName = item.Split('|')[1].Trim();
        prod.Quantity = 1;

        ItemListAdd.Add(prod);

        item = string.Empty;

    }

    private async Task<IEnumerable<string>> SearchEmployee(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return employeeList;
        return employeeList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchItem(string value)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return itemList;
        return itemList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

}