﻿@page "/delivered"
@using BibionERP.Application.DTOs.View;
@using BibionERP.Application.Interface;
@using BibionERP.WebUI.Authentication;
@inject NavigationManager UriHelper;
@inject IDeliveryNoteService _deliveryNoteService;
@attribute [Authorize(Roles = "OPERATOR,ADMINISTRATOR,MAINTAINER")]

<MudTable Items="@Delivered" Dense="false" Hover="true" Striped="true" Loading="@loading" Filter="new Func<ViewDeliveryNoteDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem" class="m-3">
    <ToolBarContent>
        <MudFab Href="/delivered/create" Color="Color.Success" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        <MudSpacer />
        <MudText Typo="Typo.h6">Lista de Entregas</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col style="width:50px;" />
        <col />
        <col />
        <col style="width:200px;" />
        <col />
        <col style="width:100px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Categoria</MudTh>
        <MudTh>Funcionario</MudTh>
        <MudTh>Fecha</MudTh>
        <MudTh>Lugar</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Categoria">@context.CategoryName</MudTd>
        <MudTd DataLabel="Funcionario">@context.EmployeeName</MudTd>
        <MudTd DataLabel="Fecha">@context.Date</MudTd>
        <MudTd DataLabel="Lugar">@context.Location</MudTd>
        <MudTd DataLabel="Acciones">
            <MudIconButton Title="Editar" Icon="@Icons.Material.Filled.EditNote" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@(()=> UriHelper. NavigateTo($"/delivered/detail/{@context.Id}"))" />
            <AuthorizeView Roles="ADMINISTRATOR,MAINTAINER">
                <Authorized Context="Auth">
                    <MudIconButton Title="Eliminar la entrega" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" OnClick="@(()=>DeleteItem(context.Id,context.CategoryName,context.EmployeeName))" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
        <MudButton Variant="Variant.Filled" Href="/" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary">Volver</MudButton>
    </div>
</div>

<MudMessageBox @ref="mboxDeleted" Title="Cuidado" CancelText="Cancelar">
    <MessageContent>
        @messageDeleted
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Borrar</MudButton>
    </YesButton>
</MudMessageBox>

<MudMessageBox @ref="mboxMessage" Title="@messageTitle">
    <MessageContent>
        @messageText
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.DeleteForever" Class="mx-2">Aceptar</MudButton>
    </YesButton>
</MudMessageBox>

@code {

    MudMessageBox? mboxDeleted { get; set; } 
    MudMessageBox? mboxMessage { get; set; } 

    string messageTitle = string.Empty;
    string messageText = string.Empty;
    string messageDeleted = string.Empty;

    bool loading = true;
    private string searchString = "";
    private ViewDeliveryNoteDto selectedItem = null;
    private HashSet<ViewDeliveryNoteDto> selectedItems = new HashSet<ViewDeliveryNoteDto>();

    public IEnumerable<ViewDeliveryNoteDto> Delivered = new List<ViewDeliveryNoteDto>();

    protected override async Task OnInitializedAsync()
    {
        Delivered = await _deliveryNoteService.GetAll();

        loading = false;
    }

    private bool FilterFunc1(ViewDeliveryNoteDto element) => FilterFunc(element, searchString);

    private bool FilterFunc(ViewDeliveryNoteDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.CategoryName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.EmployeeName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Location.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Id}".Contains(searchString))
            return true;
        return false;
    }

    private async void DeleteItem(int id, string categoryName, string employeeName)
    {
        try
        {
            var userSessionStorageResult = await _sessionStorage.GetAsync<UserSession>("UserSession");

            if (userSessionStorageResult.Value is null)
                throw new Exception("Error en el usuario, contacte con el administrador.");

            messageDeleted = $"Desea eliminar la boleta de {categoryName} para {employeeName}";

            bool? result = await mboxDeleted.Show();

            if (result is not null)
            {
                loading = true;
                StateHasChanged();
                var response = await _deliveryNoteService.Delete(id, userSessionStorageResult.Value.FullName);

                if (response)
                {
                    messageTitle = "Sistema";
                    messageText = "Se elimino correctamente la boleta";
                    await mboxMessage.Show();

                    Delivered = await _deliveryNoteService.GetAll();
                    StateHasChanged();
                }
                else
                {
                    messageTitle = "Sistema";
                    messageText = "No se pudo eliminar la boleta";
                    await mboxMessage.Show();
                }
            }


        }
        catch (Exception ex)
        {
            messageTitle = "Error";
            messageText = ex.Message;
            await mboxMessage.Show();

        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
    }

}
